$tree-arrow-expanded-glyph: $apteanico-mini-navigate-open $tree-glyph-font-size $font-icon-font-family;
//$tree-arrow-expanded-glyph-color
$tree-arrow-glyph: $apteanico-mini-navigate-close $tree-glyph-font-size $font-icon-font-family;
//$tree-arrow-glyph-color
$tree-arrow-glyph-rtl: $tree-arrow-glyph;
//$tree-checkbox-checked-glyph
//$tree-checkbox-glyph
//$tree-checkbox-glyph-color
$tree-collapse-glyph: $apteanico-mini-navigate-open 14px $font-icon-font-family;
//$tree-collapse-glyph-color
$tree-expand-glyph: $apteanico-mini-navigate-close 14px $font-icon-font-family;
//$tree-expand-glyph-color
$tree-folder-glyph: $apteanico-mini-folder $tree-glyph-font-size $font-icon-font-family;
//$tree-folder-glyph-color
$tree-folder-open-glyph: $apteanico-mini-folder-open $tree-glyph-font-size $font-icon-font-family;
//$tree-folder-open-glyph-color
//$tree-glyph-color
//$tree-glyph-font-size
$tree-leaf-glyph: $apteanico-mini-document-empty $tree-glyph-font-size $font-icon-font-family;
//$tree-leaf-glyph-color
$tree-statusproxy-ok-glyph: $apteanico-mini-fa-check-circle-01 $statusproxy-glyph-font-size $font-icon-font-family;
