$tabbar-padding: 8px 0px 0px 0px;
$tabbar-menu-overflow-glyph: $apteanico-mini-menu $button-small-glyph-font-size $font-icon-font-family;
$tabbar-scroller-top-glyph: $apteanico-mini-navigate-up $form-checkbox-size $font-icon-font-family;
$tabbar-scroller-right-glyph: $apteanico-mini-navigate-right $form-checkbox-size $font-icon-font-family;
$tabbar-scroller-left-glyph: $apteanico-mini-navigate-left $form-checkbox-size $font-icon-font-family;
$tabbar-scroller-bottom-glyph: $apteanico-mini-navigate-down $form-checkbox-size $font-icon-font-family;
$tabbar-plain-scroller-glyph-color: $abp-vivid-blue;
