// $grid-header-menu-columns-glyph
$grid-header-menu-glyph-color: $abp-deep-grey;
//$grid-header-menu-glyph-font-size
//$grid-header-menu-sort-asc-glyph
//$grid-header-menu-sort-desc-glyph
$grid-header-sort-asc-glyph: $apteanico-mini-sort-ascending $grid-header-sort-glyph-font-size $font-icon-font-family;
$grid-header-sort-desc-glyph: $apteanico-mini-sort-descending $grid-header-sort-glyph-font-size $font-icon-font-family;
$grid-header-sort-glyph-color: $abp-deep-grey;
//$grid-header-sort-glyph-font-size
$grid-header-trigger-glyph: $apteanico-mini-navigate-close $grid-header-trigger-glyph-font-size $font-icon-font-family;
$grid-header-trigger-glyph-color: $abp-vivid-blue;
//$grid-header-trigger-glyph-font-size
