@import './mixins.scss';
@import './ABPCore/index.scss';
@import './ABPControlSet/index.scss';

/* Global Hidden
    Differes from x-hidden in that visibility is still visible.
    Allows item to still be accessible in DOM.
*/
.abp-hidden {
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    display: block !important;
}
