$breadcrumb-arrow-expanded-glyph: $apteanico-mini-navigate-open $breadcrumb-glyph-font-size $font-icon-font-family;
//$breadcrumb-arrow-expanded-glyph-color
$breadcrumb-arrow-glyph: $apteanico-mini-navigate-right $breadcrumb-glyph-font-size $font-icon-font-family;
//$breadcrumb-arrow-glyph-color
$breadcrumb-arrow-glyph-rtl: $apteanico-mini-navigate-left $breadcrumb-glyph-font-size $font-icon-font-family;
$breadcrumb-folder-glyph: $apteanico-mini-folder $breadcrumb-glyph-font-size $font-icon-font-family;
//$breadcrumb-folder-glyph-color
$breadcrumb-folder-open-glyph: $apteanico-mini-folder-open $breadcrumb-glyph-font-size $font-icon-font-family;
//$breadcrumb-folder-open-glyph-color
//$breadcrumb-glyph-color
//$breadcrumb-glyph-font-size
$breadcrumb-leaf-glyph: $apteanico-mini-document-empty $breadcrumb-glyph-font-size $font-icon-font-family;
//$breadcrumb-leaf-glyph-color
