$grid-paging-toolbar-first-glyph: $apteanico-mini-navigate-beginning $grid-paging-toolbar-glyph-font-size $font-icon-font-family;
//$grid-paging-toolbar-glyph-color
//$grid-paging-toolbar-glyph-font-size
$grid-paging-toolbar-last-glyph: $apteanico-mini-navigate-end $grid-paging-toolbar-glyph-font-size $font-icon-font-family;
$grid-paging-toolbar-next-glyph: $apteanico-mini-navigate-right $grid-paging-toolbar-glyph-font-size $font-icon-font-family;
$grid-paging-toolbar-prev-glyph: $apteanico-mini-navigate-left $grid-paging-toolbar-glyph-font-size $font-icon-font-family;
$grid-paging-toolbar-refresh-glyph: $apteanico-mini-refresh $grid-paging-toolbar-glyph-font-size $font-icon-font-family;
