//$include-toolbar-default-ui
//$include-toolbar-footer-ui
//$toolbar-background-color
//$toolbar-background-gradient
//$toolbar-border-color
//$toolbar-border-style
//$toolbar-border-width
//$toolbar-classic-scrollers
//$toolbar-font-size
//$toolbar-footer-background-color
//$toolbar-footer-border-width
//$toolbar-footer-horizontal-spacing
//$toolbar-footer-vertical-spacing
//$toolbar-horizontal-spacing
$toolbar-menu-overflow-glyph: $apteanico-mini-menu $button-small-glyph-font-size $font-icon-font-family;
//$toolbar-menu-overflow-glyph-color
//$toolbar-scroller-border-color
//$toolbar-scroller-border-width
$toolbar-scroller-bottom-glyph: $apteanico-mini-navigate-down $toolbar-scroller-glyph-font-size $font-icon-font-family;
//$toolbar-scroller-bottom-margin
//$toolbar-scroller-cursor
//$toolbar-scroller-cursor-disabled
//$toolbar-scroller-glyph-color
//$toolbar-scroller-glyph-font-size
//$toolbar-scroller-height
$toolbar-scroller-left-glyph: $apteanico-mini-navigate-left $toolbar-scroller-glyph-font-size $font-icon-font-family;
//$toolbar-scroller-left-margin
//$toolbar-scroller-opacity
//$toolbar-scroller-opacity-disabled
//$toolbar-scroller-opacity-over
//$toolbar-scroller-opacity-pressed
$toolbar-scroller-right-glyph: $apteanico-mini-navigate-right $toolbar-scroller-glyph-font-size $font-icon-font-family;
//$toolbar-scroller-right-margin
$toolbar-scroller-top-glyph: $apteanico-mini-navigate-up $toolbar-scroller-glyph-font-size $font-icon-font-family;
//$toolbar-scroller-top-margin
//$toolbar-scroller-vertical-border-color
//$toolbar-scroller-vertical-border-width
//$toolbar-scroller-vertical-height
//$toolbar-scroller-vertical-width
//$toolbar-scroller-width
//$toolbar-separator-color
//$toolbar-separator-highlight-color
//$toolbar-separator-horizontal-border-style
//$toolbar-separator-horizontal-border-width
//$toolbar-separator-horizontal-height
//$toolbar-separator-horizontal-margin
//$toolbar-separator-vertical-border-style
//$toolbar-separator-vertical-border-width
//$toolbar-separator-vertical-margin
//$toolbar-spacer-width
//$toolbar-text-color
//$toolbar-text-font-family
//$toolbar-text-font-size
//$toolbar-text-font-weight
//$toolbar-text-line-height
//$toolbar-text-padding
//$toolbar-tool-background-image
//$toolbar-tool-glyph-color
//$toolbar-vertical-spacing