$boundlist-item-text-color: $abp-dark-grey;
$boundlist-item-font-weight: bold;
$boundlist-item-over-background-color: $abp-highlight-blue;
$boundlist-item-over-text-color: $boundlist-item-text-color;
$boundlist-item-selected-background-color: $abp-selected-blue;