// Ext.tab.Bar Theme Variables

$tabbar-background-color: transparent;
//$tabbar-background-gradient
$tabbar-border-color: $abp-vivid-blue;
$tabbar-border-style: solid;
$tabbar-border-width: 0px 0px 3px 0px !important;
//$tabbar-box-shadow
$tabbar-color: $abp-grey;
//$tabbar-font-family
//$tabbar-font-size
//$tabbar-font-size-big
//$tabbar-font-weight
$tabbar-horizontal-spacing: 5px;
//$tabbar-horizontal-spacing-big
//$tabbar-line-height
//$tabbar-line-height-big
//$tabbar-min-height
//$tabbar-min-height-big
$tabbar-padding: 8px 0px 0px 0px;
//$tabbar-padding
//$tabbar-padding-big
//$tabbar-strip-background-color
//$tabbar-strip-height
//$tabbar-strip-height-big
//$tabbar-title-color
//$tabbar-title-font-family
//$tabbar-title-font-size
//$tabbar-title-font-size-big
//$tabbar-title-font-weight
//$tabbar-vertical-spacing
//$tabbar-vertical-spacing-big