// Ext.tab.Tab Theme Variables - Set Defaults Here

//$tab-active-arrow-icon-color
$tab-active-background-color: $abp-vivid-blue;
//$tab-active-background-gradient
$tab-active-border-color: $abp-vivid-blue;
//$tab-active-box-shadow
//$tab-active-close-icon-background-color
//$tab-active-close-icon-color
//$tab-active-close-icon-hovered-background-color
//$tab-active-close-icon-hovered-color
//$tab-active-close-icon-pressed-background-color
//$tab-active-close-icon-pressed-color
$tab-active-color: $abp-white;
//$tab-active-focused-arrow-icon-color
//$tab-active-focused-background-color
//$tab-active-focused-background-gradient
//$tab-active-focused-border-color
//$tab-active-focused-box-shadow
//$tab-active-focused-color
//$tab-active-focused-icon-color
//$tab-active-focused-outline-color
//$tab-active-icon-color
//$tab-active-indicator-background-color
//$tab-active-indicator-height
//$tab-arrow-horizontal-spacing
//$tab-arrow-horizontal-spacing-big
//$tab-arrow-icon
//$tab-arrow-icon-color
//$tab-arrow-icon-font-size
//$tab-arrow-icon-font-size-big
//$tab-arrow-icon-size
//$tab-arrow-icon-size-big
//$tab-arrow-vertical-spacing
//$tab-arrow-vertical-spacing-big
//$tab-background-color
//$tab-background-gradient
$tab-badge-background-color: $abp-alert-red;
$tab-badge-background-gradient: none;
//$tab-badge-border-color
$tab-badge-border-radius: 50%;
//$tab-badge-bottom
$tab-badge-color: $abp-white;
//$tab-badge-font-family
$tab-badge-font-size: 12px;
//$tab-badge-font-size-big
$tab-badge-font-weight: bold;
//$tab-badge-left
//$tab-badge-line-height
//$tab-badge-line-height-big
//$tab-badge-max-width
$tab-badge-min-width: 20px;
$tab-badge-padding: 2px;
//$tab-badge-padding-big
$tab-badge-right: 8px;
$tab-badge-top: 3px;
$tab-border-color: transparent;
//$tab-border-radius
//$tab-border-radius-big
$tab-border-style: solid;
//$tab-border-width
//$tab-box-shadow
$tab-close-icon: $apteanico-mini-navigate-cross;
//$tab-close-icon-background-color
//$tab-close-icon-border-radius
//$tab-close-icon-border-radius-big
//$tab-close-icon-color
//$tab-close-icon-font-size
//$tab-close-icon-font-size-big
//$tab-close-icon-hovered-background-color
//$tab-close-icon-hovered-color
//$tab-close-icon-margin
//$tab-close-icon-margin-big
//$tab-close-icon-pressed-background-color
//$tab-close-icon-pressed-color
//$tab-close-icon-size
//$tab-close-icon-size-big
//$tab-close-icon-spacing
//$tab-close-icon-spacing-big
//$tab-color
//$tab-disabled-arrow-icon-color
//$tab-disabled-background-color
//$tab-disabled-background-gradient
//$tab-disabled-border-color
//$tab-disabled-box-shadow
//$tab-disabled-color
//$tab-disabled-icon-color
//$tab-disabled-opacity
//$tab-focused-arrow-icon-color
//$tab-focused-background-color
//$tab-focused-background-gradient
//$tab-focused-border-color
//$tab-focused-box-shadow
//$tab-focused-color
//$tab-focused-icon-color
//$tab-focused-outline-color
//$tab-focused-outline-offset
//$tab-focused-outline-style
//$tab-focused-outline-width
//$tab-font-family
//$tab-font-size
//$tab-font-size-big
//$tab-font-weight
//$tab-hovered-arrow-icon-color
//$tab-hovered-background-color
//$tab-hovered-background-gradient
//$tab-hovered-border-color
//$tab-hovered-box-shadow
//$tab-hovered-color
//$tab-hovered-icon-color
//$tab-icon-color
//$tab-icon-font-size
//$tab-icon-font-size-big
//$tab-icon-horizontal-spacing
//$tab-icon-horizontal-spacing-big
//$tab-icon-only-padding
//$tab-icon-only-padding-big
//$tab-icon-size
//$tab-icon-size-big
//$tab-icon-vertical-spacing
//$tab-icon-vertical-spacing-big
//$tab-line-height
//$tab-line-height-big
$tab-padding: 8px;
//$tab-padding-big
//$tab-pressed-arrow-icon-color
//$tab-pressed-background-color
//$tab-pressed-background-gradient
//$tab-pressed-border-color
//$tab-pressed-box-shadow
//$tab-pressed-color
//$tab-pressed-icon-color
//$tab-stacked-font-size
//$tab-stacked-font-size-big
//$tab-text-transform
//$tab-text-transform-big
