// ABP Specifc Vars - DO NOT come from sencha
$abp-button-menu-small-icon-size: 1em;
$abp-button-menu-medium-icon-size: 1.2em;
$abp-button-menu-large-icon-size: 1.3em;
// END ABP Specifc Vars

// $button-line-height: 1; // line-height not working when styled from button ui
// $button-arrow-icon: $apteanico-mini-navigate-down;

// $button-action-ui
// $button-alt-ui
// $button-arrow-horizontal-spacing
// $button-arrow-horizontal-spacing-big
$button-arrow-icon: $apteanico-mini-navigate-down;
$button-arrow-icon-color: $abp-white;
// $button-arrow-icon-font-size: 16px;
// $button-arrow-icon-font-size-big: 18px;
// $button-arrow-icon-size: 16px;
// $button-arrow-icon-size-big: 18px;
// $button-arrow-vertical-spacing
// $button-arrow-vertical-spacing-big
$button-background-color: transparent;
// $button-background-gradient
// $button-badge-background-color
// $button-badge-background-gradient
// $button-badge-border-color
// $button-badge-border-radius
// $button-badge-bottom
// $button-badge-color
// $button-badge-font-family
// $button-badge-font-size
// $button-badge-font-size-big
// $button-badge-font-weight
// $button-badge-left
// $button-badge-line-height
// $button-badge-line-height-big
// $button-badge-max-width
// $button-badge-min-width
// $button-badge-padding
// $button-badge-padding-big
// $button-badge-right
// $button-badge-top
$button-border-color: transparent;
// $button-border-radius
// $button-border-radius-big
$button-border-style: solid;
$button-border-width: 0px;
// $button-box-shadow
// $button-box-shadow-transition
$button-color: $abp-white;
// $button-confirm-ui
// $button-decline-ui
$button-disabled-arrow-icon-color: $abp-nevada;
$button-disabled-background-color: transparent;
// $button-disabled-background-gradient
$button-disabled-border-color: transparent;
// $button-disabled-box-shadow
$button-disabled-color: $abp-nevada;
$button-disabled-icon-color: $abp-nevada;
$button-disabled-opacity: 0.7;
// $button-flat-ui
$button-focused-arrow-icon-color: $abp-white;
$button-focused-background-color: transparent;
// $button-focused-background-gradient
$button-focused-border-color: transparent;
// $button-focused-box-shadow
$button-focused-color: $abp-white;
$button-focused-icon-color: $abp-white;
$button-focused-outline-color: transparent;
// $button-focused-outline-offset
$button-focused-outline-style: solid;
$button-focused-outline-width: 0px;
// $button-font-family: $font-icon-font-family;
$button-font-size: 0.8rem;
$button-font-size-big: 0.9rem;
$button-font-weight: 400;
$button-hovered-arrow-icon-color: $abp-white;
$button-hovered-background-color: transparent;
// $button-hovered-background-gradient
$button-hovered-border-color: transparent;
// $button-hovered-box-shadow
$button-hovered-color: $abp-white;
$button-hovered-icon-color: $abp-white;
$button-icon-color: $abp-white;
// $button-icon-font-size: 16px;
// $button-icon-font-size-big: 18px;
// $button-icon-horizontal-spacing
// $button-icon-horizontal-spacing-big
// $button-icon-only-padding
// $button-icon-only-padding-big
// $button-icon-size: 16px;
// $button-icon-size-big: 18px;
// $button-icon-vertical-spacing
// $button-icon-vertical-spacing-big
// $button-line-height
// $button-line-height-big
// $button-padding
// $button-padding-big
// $button-plain-ui
$button-pressed-arrow-icon-color: $abp-white;
$button-pressed-background-color: transparent;
// $button-pressed-background-gradient
$button-pressed-border-color: transparent;
// $button-pressed-box-shadow
$button-pressed-color: $abp-white;
$button-pressed-icon-color: $abp-white;
// $button-raised-ui
// $button-round-ui
// $button-segmented-ui
// $button-square-ui
// $button-text-transform
// $button-text-transform-big
// $enable-inverted-alt-button
