
// Ext.Dialog Theme Variables
//$dialog-anchor-background-color
//$dialog-anchor-border-color
//$dialog-anchor-height
//$dialog-anchor-margin
//$dialog-anchor-width
//$dialog-background-color
//$dialog-body-background-color
//$dialog-body-border-color
//$dialog-body-border-style
$dialog-body-border-width: 0px;
//$dialog-body-color
//$dialog-body-font-family
//$dialog-body-font-size
//$dialog-body-font-size-big
//$dialog-body-font-weight
//$dialog-body-line-height
//$dialog-body-line-height-big
$dialog-body-padding: 5px;
//$dialog-body-padding-big
//$dialog-border-color
//$dialog-border-radius
//$dialog-border-radius-big
//$dialog-border-style
$dialog-border-width: 0px;
$dialog-header-background-color: $abp-background-grey;
//$dialog-header-background-gradient
$dialog-header-border-color: $abp-vivid-blue;
$dialog-header-border-style: solid;
$dialog-header-border-width: 5px 0px 1px 0px !important;
$dialog-header-color: $abp-vivid-blue;
//$dialog-header-font-family
//$dialog-header-font-size
//$dialog-header-font-size-big
//$dialog-header-font-weight
$dialog-header-icon-color: $abp-dark-grey;
//$dialog-header-icon-font-size
//$dialog-header-icon-font-size-big
//$dialog-header-icon-horizontal-spacing
//$dialog-header-icon-horizontal-spacing-big
//$dialog-header-icon-opacity
//$dialog-header-icon-size
//$dialog-header-icon-size-big
//$dialog-header-icon-vertical-spacing
//$dialog-header-icon-vertical-spacing-big
//$dialog-header-line-height
//$dialog-header-line-height-big
//$dialog-header-min-height
//$dialog-header-min-height-big
$dialog-header-padding: 8px 10px;
//$dialog-header-padding-big
//$dialog-header-shadow
//$dialog-header-title-opacity
//$dialog-header-title-padding
//$dialog-header-title-padding-big
//$dialog-header-z-index
//$dialog-manage-borders
//$dialog-min-width
//$dialog-min-width-big
//$dialog-tool-background-color
//$dialog-tool-border-radius
//$dialog-tool-border-radius-big
//$dialog-tool-color
//$dialog-tool-cursor
//$dialog-tool-disabled-background-color
//$dialog-tool-disabled-color
//$dialog-tool-disabled-cursor
//$dialog-tool-disabled-opacity
//$dialog-tool-focused-outline-color
//$dialog-tool-focused-outline-offset
//$dialog-tool-focused-outline-style
//$dialog-tool-focused-outline-width
//$dialog-tool-font-size
//$dialog-tool-font-size-big
//$dialog-tool-hovered-background-color
//$dialog-tool-hovered-color
//$dialog-tool-hovered-opacity
//$dialog-tool-opacity
//$dialog-tool-pressed-background-color
//$dialog-tool-pressed-color
//$dialog-tool-pressed-opacity
//$dialog-tool-size
//$dialog-tool-size-big
//$dialog-tool-spacing
//$dialog-tool-spacing-big