// $panel-anchor-background-color
// $panel-anchor-border-color
// $panel-anchor-height
// $panel-anchor-margin
// $panel-anchor-width
$panel-background-color: $abp-white;
$panel-body-background-color: $abp-white;
$panel-body-border-color: $abp-grey;
$panel-body-border-style: solid;
$panel-body-border-width: 1px;
$panel-body-color: $abp-deep-grey;
// $panel-body-font-family
$panel-body-font-size: 14px;
$panel-body-font-size-big: 16px;
$panel-body-font-weight: 300;
// $panel-body-line-height
// $panel-body-line-height-big
$panel-body-padding: 0px;
// $panel-body-padding-big
$panel-border-color: $abp-grey;
$panel-border-radius: 0px;
// $panel-border-radius-big
$panel-border-style: solid;
$panel-border-width: 1px;
$panel-header-background-color: $abp-background-grey;
// $panel-header-background-gradient
$panel-header-border-color: $abp-grey;
$panel-header-border-style: solid;
$panel-header-border-width: 1px;
$panel-header-color: $abp-vivid-blue;
// $panel-header-font-family
$panel-header-font-size: 16px;
// $panel-header-font-size-big
$panel-header-font-weight: 400;
$panel-header-icon-color: $abp-grey;
$panel-header-icon-font-size: 16px;
$panel-header-icon-font-size-big: 18px;
// $panel-header-icon-horizontal-spacing
// $panel-header-icon-horizontal-spacing-big
$panel-header-icon-opacity: 1;
$panel-header-icon-size: 16px;
$panel-header-icon-size-big: 18px;
// $panel-header-icon-vertical-spacing
// $panel-header-icon-vertical-spacing-big
// $panel-header-line-height
// $panel-header-line-height-big
$panel-header-min-height: 30px;
$panel-header-min-height-big: 36px;
$panel-header-padding: 5px 10px;
$panel-header-padding-big: 0 12px;
// $panel-header-shadow
$panel-header-title-opacity: 1;
$panel-header-title-padding: 0;
$panel-header-title-padding-big: 0;
// $panel-header-z-index
// $panel-light-ui
// $panel-manage-borders
$panel-tool-background-color: transparent;
$panel-tool-border-radius: 0px;
// $panel-tool-border-radius-big
$panel-tool-color: $abp-grey;
$panel-tool-cursor: pointer;
$panel-tool-disabled-background-color: transparent;
$panel-tool-disabled-color: $abp-nevada;
// $panel-tool-disabled-cursor
$panel-tool-disabled-opacity: 0.7;
$panel-tool-focused-outline-color: transparent;
// $panel-tool-focused-outline-offset
$panel-tool-focused-outline-style: solid;
$panel-tool-focused-outline-width: 0px;
$panel-tool-font-size: 16px;
$panel-tool-font-size-big: 18px;
$panel-tool-hovered-background-color: transparent;
$panel-tool-hovered-color: $abp-hover-blue;
$panel-tool-hovered-opacity: 1;
$panel-tool-opacity: 1;
$panel-tool-pressed-background-color: transparent;
$panel-tool-pressed-color: $abp-selected-blue;
$panel-tool-pressed-opacity: 1;
$panel-tool-size: 16px;
$panel-tool-size-big: 18px;
// $panel-tool-spacing
// $panel-tool-spacing-big
