/* Ext.Toolbar theme variables */

$toolbar-background-color: $abp-background-grey;
//$toolbar-background-gradient
//$toolbar-border-color
//$toolbar-border-style
//$toolbar-border-width
//$toolbar-box-shadow
//$toolbar-color
//$toolbar-font-family
//$toolbar-font-size
//$toolbar-font-size-big
//$toolbar-font-weight
//$toolbar-footer-ui
//$toolbar-horizontal-spacing
//$toolbar-horizontal-spacing-big
//$toolbar-line-height
//$toolbar-line-height-big
$toolbar-min-height: 35px;
//$toolbar-min-height-big
$toolbar-padding: 0px;
//$toolbar-padding-big
//$toolbar-title-color
//$toolbar-title-font-family
//$toolbar-title-font-size
//$toolbar-title-font-size-big
//$toolbar-title-font-weight
//$toolbar-title-padding
//$toolbar-title-padding-big
//$toolbar-vertical-spacing
//$toolbar-vertical-spacing-big
