$tool-background-color: transparent;
//$tool-border-radius
//$tool-border-radius-big
//$tool-boxscroller-menu-ui
//$tool-boxscroller-tabbar-ui
//$tool-boxscroller-toolbar-ui
//$tool-boxscroller-ui
$tool-close-icon: $apteanico-mini-navigate-cross $font-icon-font-family;
$tool-collapse-bottom-icon: $apteanico-mini-navigate-close $font-icon-font-family;
$tool-collapse-icon: $apteanico-mini-arrow-join2 $font-icon-font-family;
$tool-collapse-left-icon: $apteanico-mini-navigate-left $font-icon-font-family;
$tool-collapse-right-icon: $apteanico-mini-navigate-right $font-icon-font-family;
$tool-collapse-top-icon: $apteanico-mini-navigate-open $font-icon-font-family;
$tool-color: $abp-dark-grey;
//$tool-cursor
//$tool-disabled-background-color
//$tool-disabled-color
//$tool-disabled-cursor
//$tool-disabled-opacity
$tool-disclosure-icon: $apteanico-mini-fa-arrow-circle-right $font-icon-font-family;
$tool-down-icon: $apteanico-mini-navigate-close $font-icon-font-family;
$tool-expand-bottom-icon: $apteanico-mini-navigate-close $font-icon-font-family;
$tool-expand-icon: $apteanico-mini-arrow-spread2 $font-icon-font-family;
$tool-expand-left-icon: $apteanico-mini-navigate-left $font-icon-font-family;
$tool-expand-right-icon: $apteanico-mini-navigate-right $font-icon-font-family;
$tool-expand-top-icon: $apteanico-mini-navigate-open $font-icon-font-family;
//$tool-focused-outline-color
//$tool-focused-outline-offset
//$tool-focused-outline-style
//$tool-focused-outline-width
$tool-font-size: 18px;
//$tool-font-size-big
$tool-gear-icon: $apteanico-mini-gearwheel $font-icon-font-family;
//$tool-gridcell-ui
//$tool-gridcolumn-ui
//$tool-height
//$tool-height-big
$tool-help-icon: $apteanico-mini-question $font-icon-font-family;
//$tool-hovered-background-color
//$tool-hovered-color
//$tool-hovered-opacity
//$tool-itemheader-ui
$tool-left-icon: $apteanico-mini-navigate-left $font-icon-font-family;
//$tool-listitem-ui
//$tool-margin
//$tool-margin-big
$tool-maximize-icon: $apteanico-mini-arrow-spread2 $font-icon-font-family;
$tool-menu-icon: $apteanico-mini-menu $font-icon-font-family;
$tool-minimize-icon: $apteanico-mini-arrow-join2 $font-icon-font-family;
$tool-minus-icon: $apteanico-mini-navigate-minus $font-icon-font-family;
$tool-move-icon: $apteanico-mini-arrow-cross $font-icon-font-family;
$tool-next-icon: $apteanico-mini-navigate-right $font-icon-font-family;
$tool-opacity: 1;
$tool-pin-icon: $apteanico-mini-location-pin $font-icon-font-family;
$tool-plus-icon: $apteanico-mini-navigate-plus $font-icon-font-family;
//$tool-pressed-background-color
//$tool-pressed-color
$tool-pressed-opacity: 1;
$tool-prev-icon: $apteanico-mini-navigate-left $font-icon-font-family;
$tool-print-icon: $apteanico-mini-printresults $font-icon-font-family;
$tool-refresh-icon: $apteanico-mini-refresh $font-icon-font-family;
$tool-resize-icon: $apteanico-mini-resize $font-icon-font-family;
$tool-restore-icon: $apteanico-mini-arrow-join $font-icon-font-family;
$tool-right-icon: $apteanico-mini-navigate-right $font-icon-font-family;
//$tool-rowheader-ui
$tool-save-icon: $apteanico-mini-save $font-icon-font-family;
$tool-scroll-down-icon: $apteanico-mini-navigate-down $font-icon-font-family;
$tool-scroll-left-icon: $apteanico-mini-navigate-left $font-icon-font-family;
$tool-scroll-right-icon: $apteanico-mini-navigate-right $font-icon-font-family;
$tool-scroll-up-icon: $apteanico-mini-navigate-up $font-icon-font-family;
$tool-search-icon: $apteanico-mini-fa-search $font-icon-font-family;
//$tool-size
//$tool-size-big
//$tool-spacing
//$tool-spacing-big
$tool-toggle-down-icon: $apteanico-mini-navigate-down $font-icon-font-family;
$tool-toggle-up-icon: $apteanico-mini-navigate-up $font-icon-font-family;
$tool-unpin-icon: $apteanico-mini-location-unpin $font-icon-font-family;
$tool-up-icon: $apteanico-mini-navigate-close $font-icon-font-family;
//$tool-width
//$tool-width-big
