$accordion-header-padding: 6px 10px 6px 10px;
$accordion-header-border-color: $abp-vivid-blue;
$accordion-body-border-width: 0px 1px 1px 1px !important;
$accordion-header-over-background-color: $abp-hover-blue;
$accordion-header-background-color: $abp-vivid-blue;
$accordion-header-color: $abp-white;
$accordion-tool-collapse-glyph: $apteanico-mini-navigate-open $form-checkbox-size $font-icon-font-family;
$accordion-tool-expand-glyph: $apteanico-mini-navigate-open $form-checkbox-size $font-icon-font-family;
$accordion-tool-glyph-color: $abp-white;
