$background-img: dynamic(url(ABPCore/img/abp-login-background-compressed.jpg));
$launch-logo: dynamic(url(ABPCore/img/aptean_CommonTech.png));
$main-menu-footer-logo: dynamic(url("ABPCore/img/Aptean-White-cropped.png"));
$micro-main-menu-footer-logo: dynamic(url("ABPCore/img/Aptean_bottom_micro.png"));
$favIcon-Full: dynamic("\e310");
$favIcon-Empty: dynamic("\e311");
$favIcon-Updated: dynamic("\e222");
.icon-favorite-full:before {
    content: $favIcon-Full;
}
.icon-favorite-empty:before {
    content: $favIcon-Empty;
}
