$gridcolumn-sort-asc-icon: $apteanico-mini-sort-az-ascending2;
$gridcolumn-sort-desc-icon: $apteanico-mini-sort-az-descending;
$gridcolumn-columns-icon: $apteanico-mini-column-selected;
$gridcolumn-trigger-icon: $apteanico-mini-navigate-down;

$gridcolumn-menu-sort-asc-icon: $apteanico-mini-sort-az-ascending2;
$gridcolumn-menu-sort-desc-icon: $apteanico-mini-sort-az-descending;
$gridcolumn-menu-columns-icon: $apteanico-mini-column-selected;

