// ABP Specifc Vars - DO NOT come from sencha
$abp-button-menu-small-icon-size: 0.9em;
$abp-button-menu-medium-icon-size: 1.2em;
$abp-button-menu-large-icon-size: 1.4em;
// END ABP Specifc Vars
/* Button Styles */
$button-default-background-color: transparent;
$button-default-background-color-disabled: transparent;
$button-default-background-color-focus: transparent;
$button-default-background-color-focus-over: transparent;
$button-default-background-color-focus-pressed: transparent;
$button-default-background-color-over: transparent;
$button-default-background-color-pressed: transparent;
$button-default-base-color: $abp-white;
$button-default-base-color-disabled: $abp-disabled-grey;
$button-default-base-color-focus: $abp-white;
$button-default-base-color-focus-over: $abp-white;
$button-default-base-color-focus-pressed: $abp-white;
$button-default-base-color-over: $abp-white;
$button-default-base-color-pressed: $abp-white;
$button-default-body-outline-color-focus: transparent;
$button-default-body-outline-style-focus: none;
$button-default-body-outline-width-focus: 0px;
$button-default-border-color: $abp-vivid-blue;
$button-default-border-color-disabled: $abp-grey;
$button-default-border-color-focus: $abp-selected-blue;
$button-default-border-color-focus-over: $abp-hover-blue;
$button-default-border-color-focus-pressed: $abp-selected-blue;
$button-default-border-color-over: $abp-hover-blue;
$button-default-border-color-pressed: $abp-selected-blue;
$button-default-color: $abp-white;
$button-default-color-disabled: $abp-nevada;
$button-default-color-focus: $abp-white;
$button-default-color-focus-over: $abp-white;
$button-default-color-focus-pressed: $abp-white;
$button-default-color-over: $abp-white;
$button-default-color-pressed: $abp-white;
$button-default-glyph-color: $abp-white;
$button-default-glyph-opacity: 1;
$button-default-inner-border-color: $abp-vivid-blue;
$button-default-inner-border-color-disabled: $abp-nevada;
$button-default-inner-border-color-focus: $abp-selected-blue;
$button-default-inner-border-color-focus-over: $abp-hover-blue;
$button-default-inner-border-color-focus-pressed: $abp-selected-blue;
$button-default-inner-border-color-over: $abp-hover-blue;
$button-default-inner-border-color-pressed: $abp-selected-blue;
$button-default-inner-border-width: 0px;
$button-default-inner-border-width-disabled: 0px;
$button-default-inner-border-width-focus: 0px;
$button-default-inner-border-width-focus-over: 0px;
$button-default-inner-border-width-focus-pressed: 0px;
$button-default-inner-border-width-over: 0px;
$button-default-inner-border-width-pressed: 0px;
$button-default-split-line-color: transparent;
$button-large-font-size: 18px;
$button-large-font-weight: 400;
$button-large-glyph-font-size: 24px;
$button-large-icon-size: 26px;
$button-large-padding: 9px;
$button-medium-font-size: 16px;
$button-medium-font-weight: 400;
$button-medium-glyph-font-size: 20px;
$button-medium-icon-size: 20px;
$button-medium-padding: 8px;
$button-opacity-disabled: 0.7;
$button-small-font-size: 14px;
$button-small-font-weight: 400;
$button-small-glyph-font-size: 16px;
$button-small-icon-size: 18px;
$button-small-padding: 7px;
$button-toolbar-background-color: transparent;
$button-large-arrow-glyph: $apteanico-mini-navigate-down 24px $font-icon-font-family;
$button-medium-arrow-glyph: $apteanico-mini-navigate-down 20px $font-icon-font-family;
$button-small-arrow-glyph: $apteanico-mini-navigate-down 16px $font-icon-font-family;

// Toolbar Button Styles
$button-toolbar-arrow-glyph-color: $abp-white;
$button-toolbar-background-color: transparent;
$button-toolbar-background-color-disabled: transparent;
$button-toolbar-background-color-focus: transparent;
$button-toolbar-background-color-focus-over: transparent;
$button-toolbar-background-color-focus-pressed: transparent;
$button-toolbar-background-color-over: transparent;
$button-toolbar-background-color-pressed: transparent;
$button-toolbar-body-outline-color-focus: transparent;
$button-toolbar-body-outline-style-focus: solid;
$button-toolbar-body-outline-width-focus: 0px;
$button-toolbar-border-color: $abp-vivid-blue;
$button-toolbar-border-color-disabled: $abp-grey;
$button-toolbar-border-color-focus: $abp-selected-blue;
$button-toolbar-border-color-focus-over: $abp-hover-blue;
$button-toolbar-border-color-focus-pressed: $abp-selected-blue;
$button-toolbar-border-color-over: $abp-hover-blue;
$button-toolbar-border-color-pressed: $abp-selected-blue;
$button-toolbar-color: $abp-white;
$button-toolbar-color-disabled: $abp-nevada;
$button-toolbar-color-focus: $abp-white;
$button-toolbar-color-focus-over: $abp-white;
$button-toolbar-color-focus-pressed: $abp-white;
$button-toolbar-color-over: $abp-white;
$button-toolbar-color-pressed: $abp-white;
$button-toolbar-glyph-color: $abp-white;
$button-toolbar-glyph-opacity: 1;
$button-toolbar-inner-border-color: transparent;
$button-toolbar-inner-border-color-disabled: transparent;
$button-toolbar-inner-border-color-focus: transparent;
$button-toolbar-inner-border-color-focus-over: transparent;
$button-toolbar-inner-border-color-focus-pressed: transparent;
$button-toolbar-inner-border-color-over: transparent;
$button-toolbar-inner-border-color-pressed: transparent;
$button-toolbar-inner-border-width: 0;
$button-toolbar-inner-border-width-disabled: 0;
$button-toolbar-inner-border-width-focus: 0;
$button-toolbar-inner-border-width-focus-over: 0;
$button-toolbar-inner-border-width-focus-pressed: 0;
$button-toolbar-inner-border-width-over: 0;
$button-toolbar-inner-border-width-pressed: 0;
$button-toolbar-inner-opacity-disabled: 0.7;
$button-toolbar-opacity-disabled: 0.7;
