// $treelist-background-color: $abp-white;
$treelist-color: $abp-deep-grey;
$treelist-item-color: $abp-deep-grey;
// $treelist-item-expanded-background-color: transparent;
// $treelist-item-expanded-child-background-color: transparent;
$treelist-item-expander-color: $abp-deep-grey;
// $treelist-item-expander-expanded-glyph
$treelist-item-expander-font-size: 14px;
$treelist-item-expander-font-size-big: 16px;
// $treelist-item-expander-glyph
$treelist-item-expander-over-color: $abp-deep-grey;
$treelist-item-expander-width: 14px;
$treelist-item-expander-width-big: 16px;
$treelist-item-icon-color: $abp-deep-grey;
$treelist-item-icon-font-size: 18px;
$treelist-item-icon-font-size-big: 20px;
$treelist-item-icon-over-color: $abp-deep-grey;
$treelist-item-icon-width: 18px;
$treelist-item-icon-width-big: 20px;
// $treelist-item-line-height: 18px;
// $treelist-item-line-height-big: 20px;
$treelist-item-text-color: $abp-deep-grey;
$treelist-item-text-font-size: 14px;
// $treelist-item-text-icon-gap
$treelist-item-text-over-color: $abp-deep-grey;
// $treelist-item-text-overflow
// $treelist-nav-ui
// $treelist-padding
// $treelist-row-indicator-over-color: transparent;
// $treelist-row-indicator-selected-color: $abp-deep-grey;
// $treelist-row-indicator-selected-over-color: $abp-dark-grey;
// $treelist-row-indicator-width: 5px;
// $treelist-row-over-background-color: transparent;
// $treelist-row-selected-background-color: transparent;
// $treelist-row-selected-over-background-color: transparent;
// $treelist-tool-float-indicator-color: $abp-deep-grey;
// $treelist-tool-float-indicator-width: 16px
// $treelist-tool-indicator-selected-color: $abp-deep-grey;
// $treelist-tool-indicator-selected-width
// $treelist-tool-selected-background-color: transparent;
// $treelist-tool-selected-color: $abp-deep-grey;
// $treelist-toolstrip-background-color: transparent;
