@import './mixins/index';

@include extjs-toolbar-ui(
    $ui: 'default',
    $background-color: $abp-background-grey
);

@include extjs-toolbar-ui(
    $ui: 'white',
    $background-color: $abp-white
);

@include extjs-toolbar-ui(
    $ui: 'abp-action-bar',
    $background-color: $abp-light-grey,
    $border-color: $abp-grey,
    $text-font-size: 14,
    $text-font-weight: 300,
    $text-color: $abp-deep-grey
);
