$messagebox-error-glyph: $apteanico-mini-fa-times-circle-o $messagebox-glyph-font-size $font-icon-font-family;
//$messagebox-error-glyph-color
//$messagebox-glyph-font-size
$messagebox-info-glyph: $apteanico-mini-information $messagebox-glyph-font-size $font-icon-font-family;
//$messagebox-info-glyph-color
$messagebox-question-glyph: $apteanico-mini-question $messagebox-glyph-font-size $font-icon-font-family;
//$messagebox-question-glyph-color
$messagebox-warning-glyph: $apteanico-mini-sign-warning $messagebox-glyph-font-size $font-icon-font-family;
//$messagebox-warning-glyph-color
//$panel-header-glyph-color
//$panel-header-glyph-opacity
//$window-header-glyph-color
//$window-header-glyph-opacity