$window-header-background-color: $abp-background-grey;
$window-header-border-width: 5px 0px 1px 0px;
$window-header-border-color: $abp-vivid-blue;
$window-header-glyph-color: $abp-vivid-blue;
$window-border-width: 0px;
$window-header-color: $abp-vivid-blue;
$window-header-line-height: 16px;
$window-header-padding: 10px;
