//$grid-filters-header-menu-equals-glyph
$grid-filters-header-menu-find-glyph: $apteanico-mini-magnifying-glass $grid-header-menu-glyph-font-size $font-icon-font-family;
$grid-filters-header-menu-greater-than-glyph: $apteanico-mini-navigate-right $grid-header-menu-glyph-font-size $font-icon-font-family;
$grid-filters-header-menu-less-than-glyph: $apteanico-mini-navigate-left $grid-header-menu-glyph-font-size $font-icon-font-family;
