.orangecls{
    color:#cf4c35;
    font-weight: bolder;
}
.greencls{
    color:#73b51e;
    font-weight: bolder;
}
.gridcls .x-grid-row-alt{
    background-color:black;
}
.count{
    font-size: 20px;
}