$radiofield-checkbox-icon: '\e3d0' 'apteanico-mini';
$radiofield-checked-checkbox-icon: '\e3d1' 'apteanico-mini';
$radiofield-checkbox-color: $abp-deep-grey;
$radiofield-checked-checkbox-color: $abp-deep-grey;
$radiofield-disabled-checkbox-color: $abp-disabled-grey;
$radiofield-checkbox-margin: 2px;
