$form-field-background-color: $abp-white;
$form-field-border-color: $abp-grey;
$form-field-border-style: solid;
$form-field-border-width: 1px;
$form-field-color: $abp-deep-grey;
$form-field-focus-border-color: $abp-vivid-blue;
$form-field-focus-border-style: solid;
$form-field-focus-border-width: 1px;
$form-field-font-size: 14px;
$form-field-font-weight: 300;
$form-field-height: 26px;
$form-field-invalid-border-color: $abp-alert-red;
$form-label-font-color: $abp-deep-grey;
$form-label-font-size: 14px;
$form-field-disabled-opacity: 1;

// $form-error-icon-background-image
// $form-error-icon-height
// $form-error-icon-side-margin
// $form-error-icon-width
// $form-error-msg-color
// $form-error-msg-font-family
// $form-error-msg-font-size
// $form-error-msg-font-weight
// $form-error-msg-line-height
// $form-error-under-icon-spacing
// $form-error-under-padding
// $form-field-background-image
// $form-field-empty-color
// $form-field-font-family
// $form-field-invalid-background-color
// $form-field-invalid-background-image
// $form-field-invalid-background-position
// $form-field-invalid-background-repeat
// $form-field-padding
// $form-item-margin-bottom
// $form-label-font-family
// $form-label-font-weight
// $form-label-horizontal-spacing
// $form-label-line-height
// $form-label-vertical-spacing
// $form-toolbar-error-icon-background-image
// $form-toolbar-error-icon-height
// $form-toolbar-error-icon-side-margin
// $form-toolbar-error-icon-width
// $form-toolbar-error-msg-color
// $form-toolbar-error-msg-font-family
// $form-toolbar-error-msg-font-size
// $form-toolbar-error-msg-font-weight
// $form-toolbar-error-msg-line-height
// $form-toolbar-error-under-icon-spacing
// $form-toolbar-error-under-padding
// $form-toolbar-field-disabled-opacity
// $form-toolbar-field-font-family
// $form-toolbar-field-font-size
// $form-toolbar-field-font-weight
// $form-toolbar-field-height
// $form-toolbar-label-font-color
// $form-toolbar-label-font-family
// $form-toolbar-label-font-size
// $form-toolbar-label-font-weight
// $form-toolbar-label-horizontal-spacing
// $form-toolbar-label-line-height
// $form-toolbar-label-vertical-spacing
// $grid-cell-field-color
// $grid-cell-field-font-family
// $grid-cell-field-font-size
// $grid-cell-field-font-weight
// $grid-cell-field-height
// $grid-cell-field-padding
// $include-field-default-ui
// $include-field-toolbar-ui
// $include-grid-cell-field-ui
// $include-label-default-ui
// $include-label-toolbar-ui
