$form-checkbox-checked-glyph: $apteanico-mini-checked-square $form-checkbox-size $font-icon-font-family;
$form-checkbox-glyph: $apteanico-mini-unchecked-square $form-checkbox-size $font-icon-font-family;
$form-checkbox-glyph-color: $abp-deep-grey;
$form-checkbox-size: 18px

// $form-checkbox-background-image
// $form-checkbox-glyph-focus-color
// $form-checkbox-label-color
// $form-checkbox-label-font-family
// $form-checkbox-label-font-size
// $form-checkbox-label-font-weight
// $form-checkbox-label-line-height
// $form-checkbox-label-spacing
// $form-error-icon-background-image
// $form-error-icon-height
// $form-error-icon-side-margin
// $form-error-icon-width
// $form-error-msg-color
// $form-error-msg-font-family
// $form-error-msg-font-size
// $form-error-msg-font-weight
// $form-error-msg-line-height
// $form-error-under-icon-spacing
// $form-error-under-padding
// $form-field-background-color
// $form-field-background-image
// $form-field-border-color
// $form-field-border-style
// $form-field-border-width
// $form-field-color
// $form-field-disabled-opacity
// $form-field-empty-color
// $form-field-focus-border-color
// $form-field-focus-border-style
// $form-field-focus-border-width
// $form-field-font-family
// $form-field-font-size
// $form-field-font-weight
// $form-field-height
// $form-field-invalid-background-color
// $form-field-invalid-background-image
// $form-field-invalid-background-position
// $form-field-invalid-background-repeat
// $form-field-invalid-border-color
// $form-field-padding
// $form-item-margin-bottom
// $form-label-font-color
// $form-label-font-family
// $form-label-font-size
// $form-label-font-weight
// $form-label-horizontal-spacing
// $form-label-line-height
// $form-label-vertical-spacing
// $form-radio-background-image
// $form-radio-checked-glyph
// $form-radio-glyph
// $form-radio-glyph-color
// $form-radio-glyph-focus-color
// $form-toolbar-checkbox-background-image
// $form-toolbar-checkbox-label-color
// $form-toolbar-checkbox-label-font-family
// $form-toolbar-checkbox-label-font-size
// $form-toolbar-checkbox-label-font-weight
// $form-toolbar-checkbox-label-line-height
// $form-toolbar-checkbox-label-spacing
// $form-toolbar-checkbox-size
// $form-toolbar-error-icon-background-image
// $form-toolbar-error-icon-height
// $form-toolbar-error-icon-side-margin
// $form-toolbar-error-icon-width
// $form-toolbar-error-msg-color
// $form-toolbar-error-msg-font-family
// $form-toolbar-error-msg-font-size
// $form-toolbar-error-msg-font-weight
// $form-toolbar-error-msg-line-height
// $form-toolbar-error-under-icon-spacing
// $form-toolbar-error-under-padding
// $form-toolbar-field-disabled-opacity
// $form-toolbar-field-font-family
// $form-toolbar-field-font-size
// $form-toolbar-field-font-weight
// $form-toolbar-field-height
// $form-toolbar-label-font-color
// $form-toolbar-label-font-family
// $form-toolbar-label-font-size
// $form-toolbar-label-font-weight
// $form-toolbar-label-horizontal-spacing
// $form-toolbar-label-line-height
// $form-toolbar-label-vertical-spacing
// $form-toolbar-radio-background-image
// $grid-cell-field-color
// $grid-cell-field-font-family
// $grid-cell-field-font-size
// $grid-cell-field-font-weight
// $grid-cell-field-height
// $grid-cell-field-padding
// $include-checkbox-default-ui
// $include-checkbox-toolbar-ui
// $include-field-default-ui
// $include-field-toolbar-ui
// $include-grid-cell-field-ui
// $include-label-default-ui
// $include-label-toolbar-ui
