$html-editor-aligncenter-glyph: $apteanico-mini-text-align-center $html-editor-glyph-font-size $font-icon-font-family;
$html-editor-alignleft-glyph: $apteanico-mini-text-align-left $html-editor-glyph-font-size $font-icon-font-family;
$html-editor-alignright-glyph: $apteanico-mini-text-align-right $html-editor-glyph-font-size $font-icon-font-family;
//$html-editor-backcolor-glyph
$html-editor-bold-glyph: $apteanico-mini-font-style-bold $html-editor-glyph-font-size $font-icon-font-family;
$html-editor-bulletlist-glyph: $apteanico-mini-list-style-bullets $html-editor-glyph-font-size $font-icon-font-family;
//$html-editor-forecolor-glyph
//$html-editor-glyph-color
//$html-editor-glyph-font-size
//$html-editor-growtext-glyph
$html-editor-hyperlink-glyph: $apteanico-mini-link $html-editor-glyph-font-size $font-icon-font-family;
$html-editor-italic-glyph: $apteanico-mini-font-style-italics $html-editor-glyph-font-size $font-icon-font-family;
$html-editor-numberedlist-glyph: $apteanico-mini-list-style-numbered $html-editor-glyph-font-size $font-icon-font-family;
//$html-editor-shrinktext-glyph
$html-editor-sourceedit-glyph: $apteanico-mini-pencil $html-editor-glyph-font-size $font-icon-font-family;
$html-editor-underline-glyph: $apteanico-mini-font-style-underline $html-editor-glyph-font-size $font-icon-font-family;
