$form-clear-trigger-glyph: $apteanico-mini-directional-arrows-14 16px $font-icon-font-family;
//$form-clear-trigger-glyph-color
$form-search-trigger-glyph: $apteanico-mini-magnifying-glass 16px $font-icon-font-family;
//$form-search-trigger-glyph-color
//$form-toolbar-trigger-glyph
//$form-toolbar-trigger-glyph-color
$form-trigger-glyph: $apteanico-mini-navigate-close 16px $font-icon-font-family; // Closed default - open trigger style overridden in the src file.
$form-trigger-glyph-color: $abp-deep-grey;
