$tool-close-glyph: $apteanico-mini-navigate-cross $tool-glyph-font-size $font-icon-font-family;
$tool-collapse-bottom-glyph: $apteanico-mini-navigate-open $tool-glyph-font-size $font-icon-font-family;
// $tool-collapse-glyph
$tool-collapse-left-glyph: $apteanico-mini-navigate-left $tool-glyph-font-size $font-icon-font-family;
$tool-collapse-right-glyph: $apteanico-mini-navigate-right $tool-glyph-font-size $font-icon-font-family;
$tool-collapse-top-glyph: $apteanico-mini-navigate-open $tool-glyph-font-size $font-icon-font-family;
//$tool-cursor
$tool-down-glyph: $apteanico-mini-navigate-open $tool-glyph-font-size $font-icon-font-family;
$tool-expand-bottom-glyph: $apteanico-mini-navigate-open $tool-glyph-font-size $font-icon-font-family;
$tool-expand-glyph: $apteanico-mini-arrow-spread2 $tool-glyph-font-size $font-icon-font-family;
$tool-expand-left-glyph: $apteanico-mini-navigate-left $tool-glyph-font-size $font-icon-font-family;
$tool-expand-right-glyph: $apteanico-mini-navigate-right $tool-glyph-font-size $font-icon-font-family;
$tool-expand-top-glyph: $apteanico-mini-navigate-open $tool-glyph-font-size $font-icon-font-family;
//$tool-focus-outline-offset
//$tool-focus-outline-style
//$tool-focus-outline-width
$tool-gear-glyph: $apteanico-mini-gearwheel $tool-glyph-font-size $font-icon-font-family;
$tool-glyph-color: $abp-dark-grey;
//$tool-glyph-font-size
$tool-help-glyph: $apteanico-mini-question $tool-glyph-font-size $font-icon-font-family;
//$tool-include-hover-icons
$tool-left-glyph: $apteanico-mini-navigate-left $tool-glyph-font-size $font-icon-font-family;
$tool-maximize-glyph: $apteanico-mini-arrow-spread2 $tool-glyph-font-size $font-icon-font-family;
$tool-minimize-glyph: $apteanico-mini-arrow-join2 $tool-glyph-font-size $font-icon-font-family;
$tool-minus-glyph: $apteanico-mini-navigate-minus $tool-glyph-font-size $font-icon-font-family;
$tool-move-glyph: $apteanico-mini-arrow-cross $tool-glyph-font-size $font-icon-font-family;
$tool-next-glyph: $apteanico-mini-navigate-right $tool-glyph-font-size $font-icon-font-family;
//$tool-opacity
//$tool-opacity-over
//$tool-opacity-pressed
$tool-pin-glyph: $apteanico-mini-location-pin $tool-glyph-font-size $font-icon-font-family;
$tool-plus-glyph: $apteanico-mini-navigate-plus $tool-glyph-font-size $font-icon-font-family;
$tool-prev-glyph: $apteanico-mini-navigate-left $tool-glyph-font-size $font-icon-font-family;
$tool-print-glyph: $apteanico-mini-printresults $tool-glyph-font-size $font-icon-font-family;
$tool-refresh-glyph: $apteanico-mini-refresh $tool-glyph-font-size $font-icon-font-family;
$tool-resize-glyph: $apteanico-mini-resize $tool-glyph-font-size $font-icon-font-family;
$tool-restore-glyph: $apteanico-mini-arrow-join $tool-glyph-font-size $font-icon-font-family;
$tool-right-glyph: $apteanico-mini-navigate-right $tool-glyph-font-size $font-icon-font-family;
$tool-save-glyph: $apteanico-mini-save $tool-glyph-font-size $font-icon-font-family;
$tool-search-glyph: $apteanico-mini-fa-search $tool-glyph-font-size $font-icon-font-family;
//$tool-size
$tool-toggle-down-glyph: $apteanico-mini-navigate-down $tool-glyph-font-size $font-icon-font-family;
$tool-toggle-up-glyph: $apteanico-mini-navigate-up $tool-glyph-font-size $font-icon-font-family;
$tool-unpin-glyph: $apteanico-mini-location-unpin $tool-glyph-font-size $font-icon-font-family;
$tool-up-glyph: $apteanico-mini-navigate-open $tool-glyph-font-size $font-icon-font-family;
