.abp-list-view-template-headerLineItemWithThreeFields {
    .abp-list-view .abp-list-view-cellColumn {
        flex: unset !important;
        flex-grow: unset !important;
    }
}

.abp-list-view {
    .abp-list-view-template-headerLineItemWithThreeFields {
        display: grid;
        .x-cells-el {
            display: grid !important;
            grid-template-columns: 28% 28% 43%;
            grid-template-rows: 50% 50%;
            width: unset;
            //flex-wrap: wrap;
            //flex-direction: row;
            .abp-list-view-cellColumn {
                padding-top: 0px;
                padding-bottom: 0px;
                flex: unset !important;
                flex-grow: unset !important;
                .abp-list-view-field-value {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    flex: unset !important;
                    flex-grow: unset !important;
                }
            }
            .abp-list-view-cellColumn-0 { // First Line - bold text
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row: 1;
                .abp-list-view-field-1 {
                    font-weight: 400;
                    font-size: 14px;
                    .x-gridcell-body-el {
                        padding-bottom: 0px;
                    }
                }
            }
            .abp-list-view-cellColumn-1 { // Second Line - small text
                grid-column: 1;
                grid-row: 2;
                .abp-list-view-field-1 {
                    font-size: 13px;
                    .x-gridcell-body-el {
                        padding-top: 0px;
                        color: $abp-dark-grey;
                    }
                }
            }
            .abp-list-view-cellColumn-2 { // Second Line - small text
                grid-column: 2;
                grid-row: 2;
                .abp-list-view-field-1 {
                    font-size: 13px;
                    .x-gridcell-body-el {
                        padding-top: 0px;
                        color: $abp-dark-grey;
                    }
                }
            }

            .abp-list-view-cellColumn-3 { // Second Line - small text
                grid-column: 3;
                grid-row: 2;
                .abp-list-view-field-1 {
                    font-size: 13px;
                    .x-gridcell-body-el {
                        padding-top: 0px;
                        color: $abp-dark-grey;
                    }
                }
            }
        }
        .abp-list-view-cellColumn .abp-list-view-field-value {
            min-height: unset !important;
        }
    }

}
