
$boundlist-item-text-color: $abp-dark-grey;
$boundlist-item-font-size: $form-field-font-size;
$boundlist-item-font-weight: 300;
$boundlist-item-over-background-color: $abp-highlight-blue;
$boundlist-item-over-text-color: $boundlist-item-text-color;
$boundlist-item-selected-background-color: $abp-selected-blue;