$treecell-collapsed-icon: $apteanico-mini-folder;
$treecell-expanded-icon: $apteanico-mini-folder-open;
$treecell-leaf-icon: $apteanico-mini-document-empty;
$treecell-expander-icon: $apteanico-mini-next;
$treecell-expander-expanded-icon: $apteanico-mini-navigate-close;
