$ext-font-path: get-resource-path('fonts');
$abp-font-path: get-resource-path('fonts') !default;
$RobotoFontName: "roboto" !default;
$RobotoFontVersion: "2.137" !default;

$OpenSansFontName: "opensans" !default;
$OpenSansVersion: '1.101' !default;