$apteanico-mini-about: "\e000";
$apteanico-mini-add: "\e001";
$apteanico-mini-address-book2: "\e002";
$apteanico-mini-alarmclock: "\e003";
$apteanico-mini-antenna: "\e004";
$apteanico-mini-arrow-join: "\e005";
$apteanico-mini-arrow-circle2: "\e006";
$apteanico-mini-arrow-cross: "\e007";
$apteanico-mini-arrow-join2: "\e008";
$apteanico-mini-arrow-spread: "\e009";
$apteanico-mini-arrow-spread2: "\e00a";
$apteanico-mini-arrow-u-turn: "\e00b";
$apteanico-mini-arrow-up: "\e00c";
$apteanico-mini-arrow-up-left: "\e00d";
$apteanico-mini-arrow-up-right: "\e00e";
$apteanico-mini-bag: "\e00f";
$apteanico-mini-bags: "\e010";
$apteanico-mini-barcode: "\e011";
$apteanico-mini-barcode-scanner: "\e012";
$apteanico-mini-menu: "\e013";
$apteanico-mini-beaker: "\e014";
$apteanico-mini-beaker2: "\e015";
$apteanico-mini-bell: "\e016";
$apteanico-mini-bible: "\e017";
$apteanico-mini-blackboard: "\e018";
$apteanico-mini-book: "\e019";
$apteanico-mini-book2: "\e01a";
$apteanico-mini-book-bookmark: "\e01b";
$apteanico-mini-books: "\e01c";
$apteanico-mini-box-closed: "\e01d";
$apteanico-mini-box-into: "\e01e";
$apteanico-mini-box-open: "\e01f";
$apteanico-mini-box-out: "\e020";
$apteanico-mini-box-software: "\e021";
$apteanico-mini-box-tall: "\e022";
$apteanico-mini-breakpoint-selection: "\e023";
$apteanico-mini-breakpoint: "\e024";
$apteanico-mini-breakpoints: "\e025";
$apteanico-mini-breakpoints-selection: "\e026";
$apteanico-mini-briefcase2-document: "\e027";
$apteanico-mini-briefcase-document: "\e028";
$apteanico-mini-briefcase2: "\e029";
$apteanico-mini-briefcase: "\e02a";
$apteanico-mini-businessmen: "\e02b";
$apteanico-mini-businesspeople: "\e02c";
$apteanico-mini-businessperson: "\e02d";
$apteanico-mini-businessperson2: "\e02e";
$apteanico-mini-businesswoman: "\e02f";
$apteanico-mini-cabinet: "\e030";
$apteanico-mini-cabinet2: "\e031";
$apteanico-mini-calculator: "\e032";
$apteanico-mini-calendar: "\e033";
$apteanico-mini-calendar-1: "\e034";
$apteanico-mini-calendar-3: "\e035";
$apteanico-mini-calendar-5: "\e036";
$apteanico-mini-calendar-7: "\e037";
$apteanico-mini-calendar-31: "\e038";
$apteanico-mini-calendar-52: "\e039";
$apteanico-mini-calendar-clock: "\e03a";
$apteanico-mini-calibration-mark: "\e03b";
$apteanico-mini-can-closed: "\e03c";
$apteanico-mini-can-open: "\e03d";
$apteanico-mini-card-terminal: "\e03e";
$apteanico-mini-card-terminal2: "\e03f";
$apteanico-mini-cash-flow: "\e040";
$apteanico-mini-cd: "\e041";
$apteanico-mini-chart-area: "\e042";
$apteanico-mini-chart-bar: "\e043";
$apteanico-mini-chart-bubble: "\e044";
$apteanico-mini-chart-candlestick: "\e045";
$apteanico-mini-chart-column: "\e046";
$apteanico-mini-chart-column-stacked: "\e047";
$apteanico-mini-chart-donut: "\e048";
$apteanico-mini-chart-dot: "\e049";
$apteanico-mini-chart-funnel: "\e04a";
$apteanico-mini-chart-gantt: "\e04b";
$apteanico-mini-chart-hi-lo: "\e04c";
$apteanico-mini-chart-line: "\e04d";
$apteanico-mini-chart-pie: "\e04e";
$apteanico-mini-chart-pyramid: "\e04f";
$apteanico-mini-chart-radar: "\e050";
$apteanico-mini-chart-renko: "\e051";
$apteanico-mini-chart-spline: "\e052";
$apteanico-mini-chart-step: "\e053";
$apteanico-mini-check: "\e054";
$apteanico-mini-checkbox: "\e055";
$apteanico-mini-checkbox-unchecked: "\e056";
$apteanico-mini-checks: "\e057";
$apteanico-mini-chest: "\e058";
$apteanico-mini-chest-into: "\e059";
$apteanico-mini-chest-open: "\e05a";
$apteanico-mini-chest-open-full: "\e05b";
$apteanico-mini-chest-out: "\e05c";
$apteanico-mini-clipboard: "\e05d";
$apteanico-mini-clipboard-check-edit: "\e05e";
$apteanico-mini-clipboard-checks: "\e05f";
$apteanico-mini-clipboard-empty: "\e060";
$apteanico-mini-clipboard-paste-no-format: "\e061";
$apteanico-mini-clipboard-paste: "\e062";
$apteanico-mini-clock: "\e063";
$apteanico-mini-clock-back: "\e064";
$apteanico-mini-clock-forward: "\e065";
$apteanico-mini-close: "\e066";
$apteanico-mini-cloud: "\e067";
$apteanico-mini-cloud-dark: "\e068";
$apteanico-mini-cloud-download: "\e069";
$apteanico-mini-cloud-flash: "\e06a";
$apteanico-mini-cloud-hail: "\e06b";
$apteanico-mini-cloud-moon: "\e06c";
$apteanico-mini-cloud-network: "\e06d";
$apteanico-mini-cloud-rain: "\e06e";
$apteanico-mini-cloud-refresh: "\e06f";
$apteanico-mini-cloud-snow: "\e070";
$apteanico-mini-cloud-sun: "\e071";
$apteanico-mini-cloud-updown: "\e072";
$apteanico-mini-cloud-upload: "\e073";
$apteanico-mini-code: "\e074";
$apteanico-mini-code-beanshell: "\e075";
$apteanico-mini-code-c: "\e076";
$apteanico-mini-code-cplusplus: "\e077";
$apteanico-mini-code-csharp: "\e078";
$apteanico-mini-code-java: "\e079";
$apteanico-mini-code-javascript: "\e07a";
$apteanico-mini-code-line: "\e07b";
$apteanico-mini-code-php: "\e07c";
$apteanico-mini-code-ruby: "\e07d";
$apteanico-mini-code-vbasic: "\e07e";
$apteanico-mini-compass: "\e07f";
$apteanico-mini-contract: "\e080";
$apteanico-mini-control-panel: "\e081";
$apteanico-mini-copy: "\e082";
$apteanico-mini-courthouse: "\e083";
$apteanico-mini-document-text: "\e084";
$apteanico-mini-document-notebook: "\e085";
$apteanico-mini-document-orientation-landscape: "\e086";
$apteanico-mini-document-orientation-portrait: "\e087";
$apteanico-mini-document-page-number: "\e088";
$apteanico-mini-document-pinned: "\e089";
$apteanico-mini-document-pulse: "\e08a";
$apteanico-mini-document-selection: "\e08b";
$apteanico-mini-document-size: "\e08c";
$apteanico-mini-document-stop: "\e08d";
$apteanico-mini-document-tag: "\e08e";
$apteanico-mini-document-width: "\e08f";
$apteanico-mini-document-zip: "\e090";
$apteanico-mini-document-zoom-in: "\e091";
$apteanico-mini-document-zoom-out: "\e092";
$apteanico-mini-door-closed: "\e093";
$apteanico-mini-door-enter: "\e094";
$apteanico-mini-door-exit: "\e095";
$apteanico-mini-door-open: "\e096";
$apteanico-mini-dot-matrix: "\e097";
$apteanico-mini-facebook-square: "\e098";
$apteanico-mini-facebook: "\e099";
$apteanico-mini-fingerprint: "\e09a";
$apteanico-mini-first-aid: "\e09b";
$apteanico-mini-flatscreen-tv: "\e09c";
$apteanico-mini-folder3: "\e09d";
$apteanico-mini-folder3-document: "\e09e";
$apteanico-mini-folder3-mail: "\e09f";
$apteanico-mini-folder3-movie: "\e0a0";
$apteanico-mini-folder: "\e0a1";
$apteanico-mini-folder-document: "\e0a2";
$apteanico-mini-folder-cubes: "\e0a3";
$apteanico-mini-folder-into: "\e0a4";
$apteanico-mini-folder-document2: "\e0a5";
$apteanico-mini-folder-open: "\e0a6";
$apteanico-mini-folder-out: "\e0a7";
$apteanico-mini-folder-shared: "\e0a8";
$apteanico-mini-folder-window: "\e0a9";
$apteanico-mini-folder-zip: "\e0aa";
$apteanico-mini-folders: "\e0ab";
$apteanico-mini-folders2: "\e0ac";
$apteanico-mini-gearwheel: "\e0ad";
$apteanico-mini-gearwheels: "\e0ae";
$apteanico-mini-gauge: "\e0af";
$apteanico-mini-globe: "\e0b0";
$apteanico-mini-hand-card: "\e0b1";
$apteanico-mini-hand-count-four: "\e0b2";
$apteanico-mini-hand-count-one: "\e0b3";
$apteanico-mini-hand-count-three: "\e0b4";
$apteanico-mini-hand-count-zero: "\e0b5";
$apteanico-mini-hand-drill: "\e0b6";
$apteanico-mini-hand-fist2: "\e0b7";
$apteanico-mini-hand-four: "\e0b8";
$apteanico-mini-hand-gun: "\e0b9";
$apteanico-mini-hand-money: "\e0ba";
$apteanico-mini-hand-offer: "\e0bb";
$apteanico-mini-hand-paper: "\e0bc";
$apteanico-mini-hand-point-left: "\e0bd";
$apteanico-mini-hand-point-left2: "\e0be";
$apteanico-mini-hand-point-right: "\e0bf";
$apteanico-mini-hand-point-right2: "\e0c0";
$apteanico-mini-hand-point-up: "\e0c1";
$apteanico-mini-hand-point-up2: "\e0c2";
$apteanico-mini-hand-spread: "\e0c3";
$apteanico-mini-hand-stop2: "\e0c4";
$apteanico-mini-hand-thumb-down: "\e0c5";
$apteanico-mini-hand-thumb-up: "\e0c6";
$apteanico-mini-hand-touch: "\e0c7";
$apteanico-mini-hand-truck: "\e0c8";
$apteanico-mini-hand-truck-bag: "\e0c9";
$apteanico-mini-hand-truck-box: "\e0ca";
$apteanico-mini-hand-truck-suitcase: "\e0cb";
$apteanico-mini-handshake: "\e0cc";
$apteanico-mini-heart: "\e0cd";
$apteanico-mini-houses: "\e0ce";
$apteanico-mini-home: "\e0cf";
$apteanico-mini-history: "\e0d0";
$apteanico-mini-history2: "\e0d1";
$apteanico-mini-inbox-out: "\e0d2";
$apteanico-mini-inbox-into: "\e0d3";
$apteanico-mini-indent-decrease: "\e0d4";
$apteanico-mini-indent-increase: "\e0d5";
$apteanico-mini-key2: "\e0d6";
$apteanico-mini-keyboard: "\e0d7";
$apteanico-mini-keyboard-wireless: "\e0d8";
$apteanico-mini-laptop: "\e0d9";
$apteanico-mini-link: "\e0da";
$apteanico-mini-link-broken: "\e0db";
$apteanico-mini-list-style-bullets: "\e0dc";
$apteanico-mini-list-style-numbered: "\e0dd";
$apteanico-mini-list-style-roman: "\e0de";
$apteanico-mini-location-pin: "\e0df";
$apteanico-mini-lock: "\e0e0";
$apteanico-mini-lock-open: "\e0e1";
$apteanico-mini-mail: "\e0e2";
$apteanico-mini-mail2: "\e0e3";
$apteanico-mini-mail-attachment: "\e0e4";
$apteanico-mini-mail-cloud: "\e0e5";
$apteanico-mini-mail-earth: "\e0e6";
$apteanico-mini-mail-exchange: "\e0e7";
$apteanico-mini-mail-filter: "\e0e8";
$apteanico-mini-mail-forward: "\e0e9";
$apteanico-mini-mail-into: "\e0ea";
$apteanico-mini-mail-open: "\e0eb";
$apteanico-mini-mail-open2: "\e0ec";
$apteanico-mini-mail-out: "\e0ed";
$apteanico-mini-mail-reply-all: "\e0ee";
$apteanico-mini-mail-sealed: "\e0ef";
$apteanico-mini-mail-write: "\e0f0";
$apteanico-mini-mails: "\e0f1";
$apteanico-mini-map: "\e0f2";
$apteanico-mini-map-location2: "\e0f3";
$apteanico-mini-map-location: "\e0f4";
$apteanico-mini-map-route: "\e0f5";
$apteanico-mini-map-roads: "\e0f6";
$apteanico-mini-mda: "\e0f7";
$apteanico-mini-media-beginning: "\e0f8";
$apteanico-mini-media-eject: "\e0f9";
$apteanico-mini-media-end: "\e0fa";
$apteanico-mini-media-fast-forward: "\e0fb";
$apteanico-mini-media-pause: "\e0fc";
$apteanico-mini-media-play: "\e0fd";
$apteanico-mini-media-record: "\e0fe";
$apteanico-mini-media-rewind: "\e0ff";
$apteanico-mini-media-step-back: "\e100";
$apteanico-mini-media-step-forward: "\e101";
$apteanico-mini-media-stop: "\e102";
$apteanico-mini-medical-bag: "\e103";
$apteanico-mini-megaphone: "\e104";
$apteanico-mini-message: "\e105";
$apteanico-mini-messages: "\e106";
$apteanico-mini-minimize: "\e107";
$apteanico-mini-minus: "\e108";
$apteanico-mini-mobilephone3: "\e109";
$apteanico-mini-money: "\e10a";
$apteanico-mini-monitor: "\e10b";
$apteanico-mini-mouse: "\e10c";
$apteanico-mini-mouse-pointer: "\e10d";
$apteanico-mini-moving-truck: "\e10e";
$apteanico-mini-nav-down: "\e10f";
$apteanico-mini-nav-down-left: "\e110";
$apteanico-mini-nav-down-right: "\e111";
$apteanico-mini-nav-left: "\e112";
$apteanico-mini-nav-redo: "\e113";
$apteanico-mini-nav-refresh: "\e114";
$apteanico-mini-nav-right: "\e115";
$apteanico-mini-nav-undo: "\e116";
$apteanico-mini-nav-up: "\e117";
$apteanico-mini-nav-up-left: "\e118";
$apteanico-mini-nav-up-right: "\e119";
$apteanico-mini-navigate-beginning: "\e11a";
$apteanico-mini-navigate-check: "\e11b";
$apteanico-mini-navigate-close: "\e11c";
$apteanico-mini-navigate-cross: "\e11d";
$apteanico-mini-navigate-down: "\e11e";
$apteanico-mini-navigate-down2: "\e11f";
$apteanico-mini-navigate-end: "\e120";
$apteanico-mini-navigate-left: "\e121";
$apteanico-mini-navigate-left2: "\e122";
$apteanico-mini-navigate-minus: "\e123";
$apteanico-mini-navigate-open: "\e124";
$apteanico-mini-navigate-plus: "\e125";
$apteanico-mini-navigate-right: "\e126";
$apteanico-mini-navigate-right2: "\e127";
$apteanico-mini-navigate-up: "\e128";
$apteanico-mini-navigate-up2: "\e129";
$apteanico-mini-newspaper: "\e12a";
$apteanico-mini-note: "\e12b";
$apteanico-mini-note-pinned: "\e12c";
$apteanico-mini-note-text: "\e12d";
$apteanico-mini-notebook: "\e12e";
$apteanico-mini-notebook2: "\e12f";
$apteanico-mini-notebook3: "\e130";
$apteanico-mini-object-ball: "\e131";
$apteanico-mini-object-cone: "\e132";
$apteanico-mini-object-cube: "\e133";
$apteanico-mini-object-cylinder: "\e134";
$apteanico-mini-objects: "\e135";
$apteanico-mini-objects2: "\e136";
$apteanico-mini-objects3: "\e137";
$apteanico-mini-objects4: "\e138";
$apteanico-mini-objects-exchange: "\e139";
$apteanico-mini-objects-transform: "\e13a";
$apteanico-mini-objects-transform2: "\e13b";
$apteanico-mini-office-building2: "\e13c";
$apteanico-mini-ok: "\e13d";
$apteanico-mini-opportunities: "\e13e";
$apteanico-mini-packaging-tape: "\e13f";
$apteanico-mini-paint-roller: "\e140";
$apteanico-mini-paper-jet: "\e141";
$apteanico-mini-paper-jet2: "\e142";
$apteanico-mini-paperclip: "\e143";
$apteanico-mini-paperclip2: "\e144";
$apteanico-mini-paper-roll: "\e145";
$apteanico-mini-pastor: "\e146";
$apteanico-mini-pencil: "\e147";
$apteanico-mini-piece: "\e148";
$apteanico-mini-piece2: "\e149";
$apteanico-mini-piggy-bank: "\e14a";
$apteanico-mini-pill: "\e14b";
$apteanico-mini-platform-truck-box: "\e14c";
$apteanico-mini-platform-truck-empty: "\e14d";
$apteanico-mini-platform-truck-suitcase: "\e14e";
$apteanico-mini-plug: "\e14f";
$apteanico-mini-plug2: "\e150";
$apteanico-mini-plus: "\e151";
$apteanico-mini-portable-barcode-scanner: "\e152";
$apteanico-mini-power-drill: "\e153";
$apteanico-mini-print-layout-continous: "\e154";
$apteanico-mini-print-layout-single: "\e155";
$apteanico-mini-print-calculator: "\e156";
$apteanico-mini-question: "\e157";
$apteanico-mini-recycle: "\e158";
$apteanico-mini-schoolbus2: "\e159";
$apteanico-mini-scientist: "\e15a";
$apteanico-mini-scroll: "\e15b";
$apteanico-mini-rss: "\e15c";
$apteanico-mini-rotate-left: "\e15d";
$apteanico-mini-rotate-right: "\e15e";
$apteanico-mini-rocket: "\e15f";
$apteanico-mini-registry: "\e160";
$apteanico-mini-refresh: "\e161";
$apteanico-mini-redo: "\e162";
$apteanico-mini-resize: "\e163";
$apteanico-mini-rfq: "\e164";
$apteanico-mini-security-agent: "\e165";
$apteanico-mini-sd-card: "\e166";
$apteanico-mini-server-client: "\e167";
$apteanico-mini-server-client-exchange: "\e168";
$apteanico-mini-server-cloud: "\e169";
$apteanico-mini-server-document: "\e16a";
$apteanico-mini-server-earth: "\e16b";
$apteanico-mini-server-from-client: "\e16c";
$apteanico-mini-server-id-card: "\e16d";
$apteanico-mini-server-into: "\e16e";
$apteanico-mini-server-mail: "\e16f";
$apteanico-mini-server-mail-download: "\e170";
$apteanico-mini-server-mail-upload: "\e171";
$apteanico-mini-server-network: "\e172";
$apteanico-mini-server-out: "\e173";
$apteanico-mini-shelf-full: "\e174";
$apteanico-mini-shelf-empty: "\e175";
$apteanico-mini-shield: "\e176";
$apteanico-mini-signal-flag: "\e177";
$apteanico-mini-signboard-empty: "\e178";
$apteanico-mini-signpost: "\e179";
$apteanico-mini-signpost2: "\e17a";
$apteanico-mini-signpost3: "\e17b";
$apteanico-mini-small-truck: "\e17c";
$apteanico-mini-soccer-ball: "\e17d";
$apteanico-mini-sort-az-ascending: "\e17e";
$apteanico-mini-sort-az-ascending2: "\e17f";
$apteanico-mini-sort-az-descending: "\e180";
$apteanico-mini-sort-az-descending2: "\e181";
$apteanico-mini-speech-balloon: "\e182";
$apteanico-mini-speech-balloon-question: "\e183";
$apteanico-mini-speech-balloon-answer: "\e184";
$apteanico-mini-sticky-note: "\e185";
$apteanico-mini-sticky-note-text: "\e186";
$apteanico-mini-suitcase: "\e187";
$apteanico-mini-tablet-computer: "\e188";
$apteanico-mini-tag: "\e189";
$apteanico-mini-tags: "\e18a";
$apteanico-mini-telephone: "\e18b";
$apteanico-mini-text: "\e18c";
$apteanico-mini-timer: "\e18d";
$apteanico-mini-toilet-paper: "\e18e";
$apteanico-mini-tools: "\e18f";
$apteanico-mini-trafficlight-green: "\e190";
$apteanico-mini-trafficlight-off: "\e191";
$apteanico-mini-trafficlight-on: "\e192";
$apteanico-mini-trafficlight-red: "\e193";
$apteanico-mini-trafficlight-red-yellow: "\e194";
$apteanico-mini-trafficlight-yellow: "\e195";
$apteanico-mini-tree: "\e196";
$apteanico-mini-twitter: "\e197";
$apteanico-mini-twitter-square: "\e198";
$apteanico-mini-user: "\e199";
$apteanico-mini-user-earth: "\e19a";
$apteanico-mini-user-glasses: "\e19b";
$apteanico-mini-user-headphones: "\e19c";
$apteanico-mini-user-headset: "\e19d";
$apteanico-mini-user-message: "\e19e";
$apteanico-mini-user-mobilephone: "\e19f";
$apteanico-mini-user-monitor: "\e1a0";
$apteanico-mini-user-smartphone: "\e1a1";
$apteanico-mini-user-telephone: "\e1a2";
$apteanico-mini-users: "\e1a3";
$apteanico-mini-users2: "\e1a4";
$apteanico-mini-users4: "\e1a5";
$apteanico-mini-users3: "\e1a6";
$apteanico-mini-users5: "\e1a7";
$apteanico-mini-users-relation2: "\e1a8";
$apteanico-mini-users-relation: "\e1a9";
$apteanico-mini-vector-circle: "\e1aa";
$apteanico-mini-view-1-1: "\e1ab";
$apteanico-mini-zoom-out: "\e1ac";
$apteanico-mini-zoom-in: "\e1ad";
$apteanico-mini-wordpress: "\e1ae";
$apteanico-mini-wooden-pallet-box: "\e1af";
$apteanico-mini-wooden-pallet: "\e1b0";
$apteanico-mini-worker2: "\e1b1";
$apteanico-mini-worker: "\e1b2";
$apteanico-mini-workplace: "\e1b3";
$apteanico-mini-workstation: "\e1b4";
$apteanico-mini-workstation-network: "\e1b5";
$apteanico-mini-wlan-antenna: "\e1b6";
$apteanico-mini-window-gear: "\e1b7";
$apteanico-mini-window-information: "\e1b8";
$apteanico-mini-window-key: "\e1b9";
$apteanico-mini-window-close: "\e1ba";
$apteanico-mini-window-dialog: "\e1bb";
$apteanico-mini-window-earth: "\e1bc";
$apteanico-mini-window-environment: "\e1bd";
$apteanico-mini-window-equalizer: "\e1be";
$apteanico-mini-window-explorer: "\e1bf";
$apteanico-mini-window-font: "\e1c0";
$apteanico-mini-window-logon: "\e1c1";
$apteanico-mini-window-network: "\e1c2";
$apteanico-mini-window-oscillograph: "\e1c3";
$apteanico-mini-window-sidebar: "\e1c4";
$apteanico-mini-window-height: "\e1c5";
$apteanico-mini-window-time: "\e1c6";
$apteanico-mini-woman: "\e1c7";
$apteanico-mini-woman2: "\e1c8";
$apteanico-mini-woman3: "\e1c9";
$apteanico-mini-youtube-play: "\e1ca";
$apteanico-mini-youtube: "\e1cb";
$apteanico-mini-youtube-square: "\e1cc";
$apteanico-mini-businesswomen: "\e1cd";
$apteanico-mini-businesspeople2: "\e1ce";
$apteanico-mini-accounts-payable: "\e1cf";
$apteanico-mini-accounts-receivable: "\e1d0";
$apteanico-mini-activities: "\e1d1";
$apteanico-mini-add-invitee: "\e1d2";
$apteanico-mini-assign-task: "\e1d3";
$apteanico-mini-calendar-close: "\e1d4";
$apteanico-mini-calendar-month: "\e1d5";
$apteanico-mini-crm: "\e1d6";
$apteanico-mini-dartboard: "\e1d7";
$apteanico-mini-dashboard: "\e1d8";
$apteanico-mini-extension-form: "\e1d9";
$apteanico-mini-file: "\e1da";
$apteanico-mini-file2: "\e1db";
$apteanico-mini-file-archive: "\e1dc";
$apteanico-mini-file-audio: "\e1dd";
$apteanico-mini-file-code: "\e1de";
$apteanico-mini-file-excel: "\e1df";
$apteanico-mini-file-image: "\e1e0";
$apteanico-mini-file-movie: "\e1e1";
$apteanico-mini-file-pdf: "\e1e2";
$apteanico-mini-file-photo: "\e1e3";
$apteanico-mini-file-picture: "\e1e4";
$apteanico-mini-file-powerpoint: "\e1e5";
$apteanico-mini-file-sound: "\e1e6";
$apteanico-mini-file-text: "\e1e7";
$apteanico-mini-file-video: "\e1e8";
$apteanico-mini-file-word: "\e1e9";
$apteanico-mini-file-zip2: "\e1ea";
$apteanico-mini-files: "\e1eb";
$apteanico-mini-influencers: "\e1ec";
$apteanico-mini-link2: "\e1ed";
$apteanico-mini-meeting: "\e1ee";
$apteanico-mini-opportunities-1: "\e1ef";
$apteanico-mini-plan-trip: "\e1f0";
$apteanico-mini-products: "\e1f1";
$apteanico-mini-proximity-search: "\e1f2";
$apteanico-mini-purchase-order2: "\e1f3";
$apteanico-mini-qualification: "\e1f4";
$apteanico-mini-quote: "\e1f5";
$apteanico-mini-remove-attachments: "\e1f6";
$apteanico-mini-revenue: "\e1f7";
$apteanico-mini-smartphone2: "\e1f8";
$apteanico-mini-summary: "\e1f9";
$apteanico-mini-terms-and-condition: "\e1fa";
$apteanico-mini-unlink-task: "\e1fb";
$apteanico-mini-user-hierarchy: "\e1fc";
$apteanico-mini-file-text2: "\e1fd";
$apteanico-mini-add-list: "\e1fe";
$apteanico-mini-list-alt: "\e1ff";
$apteanico-mini-exclamation: "\e200";
$apteanico-mini-exclamation-circle: "\e201";
$apteanico-mini-delete: "\e202";
$apteanico-mini-edit: "\e203";
$apteanico-mini-garbage-can: "\e204";
$apteanico-mini-magnifying-glass: "\e205";
$apteanico-mini-maximize: "\e206";
$apteanico-mini-sign-forbidden: "\e207";
$apteanico-mini-fa-arrow-circle-down: "\e208";
$apteanico-mini-fa-arrow-circle-left: "\e209";
$apteanico-mini-fa-arrow-cirlce-o-down: "\e20a";
$apteanico-mini-fa-arrow-circle-o-left: "\e20b";
$apteanico-mini-fa-arrow-circle-o-right: "\e20c";
$apteanico-mini-fa-arrow-circle-o-up: "\e20d";
$apteanico-mini-fa-arrow-circle-right: "\e20e";
$apteanico-mini-fa-arrow-circle-up: "\e20f";
$apteanico-mini-fa-arrow-down: "\e210";
$apteanico-mini-fa-arrow-left: "\e211";
$apteanico-mini-fa-arrow-right: "\e212";
$apteanico-mini-fa-arrow-up: "\e213";
$apteanico-mini-fa-times-circle-o: "\e214";
$apteanico-mini-fa-times-circle: "\e215";
$apteanico-mini-fa-plus-circle: "\e216";
$apteanico-mini-program-switch1: "\e217";
$apteanico-mini-program-switch2: "\e218";
$apteanico-mini-program-switch4: "\e219";
$apteanico-mini-program-switch3: "\e21a";
$apteanico-mini-fa-location-arrow-01: "\e21b";
$apteanico-mini-fa-ellipsis-vertical-01: "\e21c";
$apteanico-mini-fa-ellipsis-horizontal-01: "\e21d";
$apteanico-mini-fa-check-square-o-01: "\e21e";
$apteanico-mini-yammer-01: "\e21f";
$apteanico-mini-fa-check-01: "\e220";
$apteanico-mini-fa-check-circle-01: "\e221";
$apteanico-mini-fa-check-circle-o-01: "\e222";
$apteanico-mini-fa-check-square-01: "\e223";
$apteanico-mini-padlock-open: "\e224";
$apteanico-mini-padlock-locked: "\e225";
$apteanico-mini-fa-chevron-circle-down: "\e226";
$apteanico-mini-fa-minus-circle: "\e227";
$apteanico-mini-laptop-01: "\e228";
$apteanico-mini-pocket-computer-01: "\e229";
$apteanico-mini-add-folder: "\e22a";
$apteanico-mini-backflush: "\e22b";
$apteanico-mini-global-search: "\e22c";
$apteanico-mini-insert-between: "\e22d";
$apteanico-mini-company-status-01: "\e22e";
$apteanico-mini-company-status-02: "\e22f";
$apteanico-mini-company-status-03: "\e230";
$apteanico-mini-contact-status-01: "\e231";
$apteanico-mini-contact-status-02: "\e232";
$apteanico-mini-contact-status-03: "\e233";
$apteanico-mini-map-location-1: "\e234";
$apteanico-mini-phone-02: "\e235";
$apteanico-mini-thumbs-down: "\e236";
$apteanico-mini-advance: "\e237";
$apteanico-mini-all: "\e238";
$apteanico-mini-attachment: "\e239";
$apteanico-mini-between: "\e23a";
$apteanico-mini-blank: "\e23b";
$apteanico-mini-first-record: "\e23c";
$apteanico-mini-greater-than: "\e23d";
$apteanico-mini-grid: "\e23e";
$apteanico-mini-grid-to-open: "\e23f";
$apteanico-mini-join: "\e240";
$apteanico-mini-last-record: "\e241";
$apteanico-mini-less-than: "\e242";
$apteanico-mini-not-between: "\e243";
$apteanico-mini-not-blank: "\e244";
$apteanico-mini-not-like: "\e245";
$apteanico-mini-phone-03: "\e246";
$apteanico-mini-report-to-run: "\e247";
$apteanico-mini-save: "\e248";
$apteanico-mini-signature-pad: "\e249";
$apteanico-mini-url: "\e24a";
$apteanico-mini-aptean: "\e24b";
$apteanico-mini-address: "\e24c";
$apteanico-mini-addressnotvalid: "\e24d";
$apteanico-mini-addressvalid: "\e24e";
$apteanico-mini-addressvalidate: "\e24f";
$apteanico-mini-addsales: "\e250";
$apteanico-mini-addservice: "\e251";
$apteanico-mini-addsupport: "\e252";
$apteanico-mini-alert: "\e253";
$apteanico-mini-checknames: "\e254";
$apteanico-mini-clone: "\e255";
$apteanico-mini-columndefinition: "\e256";
$apteanico-mini-count: "\e257";
$apteanico-mini-customeron: "\e258";
$apteanico-mini-email-text-area: "\e259";
$apteanico-mini-emailnotvalidated: "\e25a";
$apteanico-mini-emailnotvalidate: "\e25b";
$apteanico-mini-emailtemplate: "\e25c";
$apteanico-mini-emailvalid: "\e25d";
$apteanico-mini-emailvalidate: "\e25e";
$apteanico-mini-erase: "\e25f";
$apteanico-mini-extrenaluser: "\e260";
$apteanico-mini-gendoc: "\e261";
$apteanico-mini-hidefilter: "\e262";
$apteanico-mini-htmldocument: "\e263";
$apteanico-mini-linkuser: "\e264";
$apteanico-mini-maxsavednotes: "\e265";
$apteanico-mini-mbquestion: "\e266";
$apteanico-mini-mergerecord: "\e267";
$apteanico-mini-nonwatch: "\e268";
$apteanico-mini-notvalidated: "\e269";
$apteanico-mini-openwindow: "\e26a";
$apteanico-mini-printresults: "\e26b";
$apteanico-mini-quote2forecast: "\e26c";
$apteanico-mini-reply: "\e26d";
$apteanico-mini-restore: "\e26e";
$apteanico-mini-retrieve: "\e26f";
$apteanico-mini-returntosearch: "\e270";
$apteanico-mini-salesincident: "\e271";
$apteanico-mini-salestask: "\e272";
$apteanico-mini-saveclose: "\e273";
$apteanico-mini-serviceincident: "\e274";
$apteanico-mini-serviceon: "\e275";
$apteanico-mini-servicetask: "\e276";
$apteanico-mini-showfilter: "\e277";
$apteanico-mini-spell: "\e278";
$apteanico-mini-splitnotes: "\e279";
$apteanico-mini-sql: "\e27a";
$apteanico-mini-summaryview: "\e27b";
$apteanico-mini-supportincident: "\e27c";
$apteanico-mini-supporttask: "\e27d";
$apteanico-mini-watch: "\e27e";
$apteanico-mini-workticket: "\e27f";
$apteanico-mini-refresh-clock: "\e280";
$apteanico-mini-refresh-clock-1: "\e281";
$apteanico-mini-go-to-form: "\e282";
$apteanico-mini-emoticon-angry: "\e283";
$apteanico-mini-emoticon-clown: "\e284";
$apteanico-mini-emoticon-confused: "\e285";
$apteanico-mini-emoticon-cry: "\e286";
$apteanico-mini-emoticon-frown: "\e287";
$apteanico-mini-emoticon-grin: "\e288";
$apteanico-mini-emoticon-indifferent: "\e289";
$apteanico-mini-emoticon-smile: "\e28a";
$apteanico-mini-emoticon-surprised: "\e28b";
$apteanico-mini-emoticon-blink: "\e28c";
$apteanico-mini-subscription: "\e28d";
$apteanico-mini-link-to-pivotal: "\e28e";
$apteanico-mini-related-links: "\e28f";
$apteanico-mini-look-to-add-links-01: "\e290";
$apteanico-mini-fa-search: "\e291";
$apteanico-mini-escalate: "\e292";
$apteanico-mini-money2: "\e293";
$apteanico-mini-add-link: "\e294";
$apteanico-mini-table-remove: "\e295";
$apteanico-mini-table-add: "\e296";
$apteanico-mini-table: "\e297";
$apteanico-mini-send: "\e298";
$apteanico-mini-csv: "\e299";
$apteanico-mini-document-edit: "\e29a";
$apteanico-mini-office-365: "\e29b";
$apteanico-mini-outlook: "\e29c";
$apteanico-mini-record-search: "\e29d";
$apteanico-mini-record-show-all: "\e29e";
$apteanico-mini-report: "\e29f";
$apteanico-mini-report-options: "\e2a0";
$apteanico-mini-report-show: "\e2a1";
$apteanico-mini-results-show: "\e2a2";
$apteanico-mini-save-quick: "\e2a3";
$apteanico-mini-save-refresh: "\e2a4";
$apteanico-mini-pivotal: "\e2a5";
$apteanico-mini-pivotal-disabled: "\e2a6";
$apteanico-mini-case-owner: "\e2a7";
$apteanico-mini-category: "\e2a8";
$apteanico-mini-subcategory: "\e2a9";
$apteanico-mini-vline: "\e2aa";
$apteanico-mini-stopwatch: "\e2ab";
$apteanico-mini-action: "\e2ac";
$apteanico-mini-save-all: "\e2ad";
$apteanico-mini-info-2: "\e2af";
$apteanico-mini-pivotal-large: "\e2b0";
$apteanico-mini-advanced-search: "\e2b1";
$apteanico-mini-modify-link: "\e2b2";
$apteanico-mini-pivotal-add-in-01: "\e2b3";
$apteanico-mini-server: "\e2b4";
$apteanico-mini-server-active: "\e2b5";
$apteanico-mini-server-inactive: "\e2b6";
$apteanico-mini-ticket: "\e2b7";
$apteanico-mini-additional-download: "\e2b8";
$apteanico-mini-open-ux-client: "\e2b9";
$apteanico-mini-peel-off: "\e2ba";
$apteanico-mini-all-my-files: "\e2bb";
$apteanico-mini-cloud-upload-1: "\e2bc";
$apteanico-mini-my-files: "\e2bd";
$apteanico-mini-add-shortcut: "\e2be";
$apteanico-mini-flip: "\e2bf";
$apteanico-mini-ratio: "\e2c0";
$apteanico-mini-column-selected: "\e2c1";
$apteanico-mini-ticket-resolve: "\e2c2";
$apteanico-mini-receipt-book: "\e2c3";
$apteanico-mini-loan-officer: "\e2c4";
$apteanico-mini-id-card: "\e2c5";
$apteanico-mini-outside-account: "\e2c6";
$apteanico-mini-confirm-shipment: "\e2c7";
$apteanico-mini-aptean2018: "\e2c8";
$apteanico-mini-arrow-circle: "\e2c9";
$apteanico-mini-arrow-curve-left: "\e2ca";
$apteanico-mini-arrow-down: "\e2cb";
$apteanico-mini-arrow-down-left: "\e2cc";
$apteanico-mini-arrow-down-right: "\e2cd";
$apteanico-mini-arrow-fork: "\e2ce";
$apteanico-mini-arrow-fork2: "\e2cf";
$apteanico-mini-arrow-from: "\e2d0";
$apteanico-mini-arrow-into: "\e2d1";
$apteanico-mini-arrow-junction: "\e2d2";
$apteanico-mini-arrow-left: "\e2d3";
$apteanico-mini-arrow-loop: "\e2d4";
$apteanico-mini-arrow-loop2: "\e2d5";
$apteanico-mini-arrow-loop3: "\e2d6";
$apteanico-mini-arrow-merge: "\e2d7";
$apteanico-mini-arrow-merge2: "\e2d8";
$apteanico-mini-arrow-mix: "\e2d9";
$apteanico-mini-arrow-out: "\e2da";
$apteanico-mini-arrow-over: "\e2db";
$apteanico-mini-arrow-right: "\e2dc";
$apteanico-mini-arrow-shuffle: "\e2dd";
$apteanico-mini-arrow-squiggly: "\e2de";
$apteanico-mini-arrow-through: "\e2df";
$apteanico-mini-arrow-to: "\e2e0";
$apteanico-mini-arrow-turn-left: "\e2e1";
$apteanico-mini-battery-status0: "\e2e2";
$apteanico-mini-battery-status1: "\e2e3";
$apteanico-mini-battery-status2: "\e2e4";
$apteanico-mini-battery-status3: "\e2e5";
$apteanico-mini-battery-status4: "\e2e6";
$apteanico-mini-battery-status5: "\e2e7";
$apteanico-mini-book-open: "\e2e8";
$apteanico-mini-directional-arrows-06: "\e2e9";
$apteanico-mini-directional-arrows-07: "\e2ea";
$apteanico-mini-directional-arrows-08: "\e2eb";
$apteanico-mini-directional-arrows-09: "\e2ec";
$apteanico-mini-directional-arrows-10: "\e2ed";
$apteanico-mini-directional-arrows-11: "\e2ee";
$apteanico-mini-directional-arrows-12: "\e2ef";
$apteanico-mini-directional-arrows-13: "\e2f0";
$apteanico-mini-directional-arrows-14: "\e2f1";
$apteanico-mini-directional-arrows-15: "\e2f2";
$apteanico-mini-document-attachment: "\e2f3";
$apteanico-mini-document-center: "\e2f4";
$apteanico-mini-document-center-horizontal: "\e2f5";
$apteanico-mini-document-center-vertical: "\e2f6";
$apteanico-mini-document-chart: "\e2f7";
$apteanico-mini-document-cup: "\e2f8";
$apteanico-mini-sign-in: "\e2f9";
$apteanico-mini-sign-out: "\e2fa";
$apteanico-mini-download-advanced: "\e2fb";
$apteanico-mini-download-shipments: "\e2fc";
$apteanico-mini-wrench: "\e2fd";
$apteanico-mini-paint-brush: "\e2fe";
$apteanico-mini-painters-palette: "\e2ff";
$apteanico-mini-odometer: "\e300";
$apteanico-mini-office-building: "\e301";
$apteanico-mini-satellite-dish: "\e302";
$apteanico-mini-scales: "\e303";
$apteanico-mini-interaction-extension-01: "\e304";
$apteanico-mini-lightbulb-off: "\e305";
$apteanico-mini-lightbulb-on: "\e306";
$apteanico-mini-inbox: "\e307";
$apteanico-mini-inbox-empty: "\e308";
$apteanico-mini-inbox-full: "\e309";
$apteanico-mini-factory: "\e30a";
$apteanico-mini-pivotal-link-01: "\e30b";
$apteanico-mini-sign-warning: "\e30c";
$apteanico-mini-sign-warning-harmful: "\e30d";
$apteanico-mini-sign-warning-voltage: "\e30e";
$apteanico-mini-sum: "\e30f";
$apteanico-mini-star: "\e310";
$apteanico-mini-star2: "\e311";
$apteanico-mini-sort-up-down2: "\e312";
$apteanico-mini-sort-down: "\e313";
$apteanico-mini-sort-down-minus: "\e314";
$apteanico-mini-sort-down-plus: "\e315";
$apteanico-mini-sort-up: "\e316";
$apteanico-mini-sort-up-down: "\e317";
$apteanico-mini-sort-up-down-question: "\e318";
$apteanico-mini-sort-up-minus: "\e319";
$apteanico-mini-sort-up-plus: "\e31a";
$apteanico-mini-sort-19-ascending: "\e31b";
$apteanico-mini-sort-19-descending: "\e31c";
$apteanico-mini-sort-ascending: "\e31d";
$apteanico-mini-sort-ascending2: "\e31e";
$apteanico-mini-sort-descending: "\e31f";
$apteanico-mini-sort-descending2: "\e320";
$apteanico-mini-spreadsheed: "\e321";
$apteanico-mini-spreadsheed-cell: "\e322";
$apteanico-mini-spreadsheed-chart: "\e323";
$apteanico-mini-spreadsheed-column: "\e324";
$apteanico-mini-spreadsheed-data: "\e325";
$apteanico-mini-spreadsheed-row: "\e326";
$apteanico-mini-spreadsheed-sort-ascending: "\e327";
$apteanico-mini-spreadsheed-sort-descending: "\e328";
$apteanico-mini-spreadsheed-sum: "\e329";
$apteanico-mini-stethoscope: "\e32a";
$apteanico-mini-sun-half: "\e32b";
$apteanico-mini-table-selection-all: "\e32c";
$apteanico-mini-table-selection-block: "\e32d";
$apteanico-mini-table-selection-cell: "\e32e";
$apteanico-mini-table-selection-column: "\e32f";
$apteanico-mini-table-selection-range: "\e330";
$apteanico-mini-table-selection-row: "\e331";
$apteanico-mini-tables: "\e332";
$apteanico-mini-tape-measure2: "\e333";
$apteanico-mini-target: "\e334";
$apteanico-mini-telephone2: "\e335";
$apteanico-mini-text-align-center: "\e336";
$apteanico-mini-text-align-justified: "\e337";
$apteanico-mini-text-align-left: "\e338";
$apteanico-mini-text-align-right: "\e339";
$apteanico-mini-text-field: "\e33a";
$apteanico-mini-window: "\e33b";
$apteanico-mini-window-cd: "\e33c";
$apteanico-mini-window-logon-01: "\e33d";
$apteanico-mini-window-size: "\e33e";
$apteanico-mini-window-split-hor: "\e33f";
$apteanico-mini-window-split-ver: "\e340";
$apteanico-mini-window-star: "\e341";
$apteanico-mini-window-test-card: "\e342";
$apteanico-mini-window-touch: "\e343";
$apteanico-mini-window-warning: "\e344";
$apteanico-mini-window-width: "\e345";
$apteanico-mini-windows: "\e346";
$apteanico-mini-windows-close: "\e347";
$apteanico-mini-wlan-router: "\e348";
$apteanico-mini-ammunition-box-closed: "\e349";
$apteanico-mini-ammunition-box-open: "\e34a";
$apteanico-mini-arrow-barrier: "\e34b";
$apteanico-mini-brain: "\e34c";
$apteanico-mini-document-empty: "\e34d";
$apteanico-mini-document-empty-landscape: "\e34e";
$apteanico-mini-document-height: "\e34f";
$apteanico-mini-document-information: "\e350";
$apteanico-mini-download: "\e351";
$apteanico-mini-earth-link: "\e352";
$apteanico-mini-earth: "\e353";
$apteanico-mini-earth2: "\e354";
$apteanico-mini-elements: "\e355";
$apteanico-mini-elements2: "\e356";
$apteanico-mini-elements3: "\e357";
$apteanico-mini-elements4: "\e358";
$apteanico-mini-elements-branch: "\e359";
$apteanico-mini-elements-cascade: "\e35a";
$apteanico-mini-elements-hierarchy: "\e35b";
$apteanico-mini-elements-selection: "\e35c";
$apteanico-mini-elements-tree: "\e35d";
$apteanico-mini-error: "\e35e";
$apteanico-mini-filter-and-sort: "\e35f";
$apteanico-mini-funnel: "\e360";
$apteanico-mini-font-style-bold: "\e361";
$apteanico-mini-font-style-italics: "\e362";
$apteanico-mini-font-style-normal: "\e363";
$apteanico-mini-font-style-strikethrough: "\e364";
$apteanico-mini-font-style-subscript: "\e365";
$apteanico-mini-font-style-superscript: "\e366";
$apteanico-mini-font-style-underline: "\e367";
$apteanico-mini-form: "\e368";
$apteanico-mini-fountain-pen: "\e369";
$apteanico-mini-front: "\e36a";
$apteanico-mini-graph-star: "\e36b";
$apteanico-mini-graph-to: "\e36c";
$apteanico-mini-graph-triangle: "\e36d";
$apteanico-mini-graphics-tablet: "\e36e";
$apteanico-mini-headphones: "\e36f";
$apteanico-mini-headset: "\e370";
$apteanico-mini-hourglass: "\e371";
$apteanico-mini-layout: "\e372";
$apteanico-mini-layout-center: "\e373";
$apteanico-mini-layout-east: "\e374";
$apteanico-mini-layout-horizontal: "\e375";
$apteanico-mini-layout-north: "\e376";
$apteanico-mini-layout-northeast: "\e377";
$apteanico-mini-layout-northwest: "\e378";
$apteanico-mini-layout-south: "\e379";
$apteanico-mini-layout-southeast: "\e37a";
$apteanico-mini-layout-southwest: "\e37b";
$apteanico-mini-layout-vertical: "\e37c";
$apteanico-mini-layout-west: "\e37d";
$apteanico-mini-loudspeaker: "\e37e";
$apteanico-mini-loudspeaker2: "\e37f";
$apteanico-mini-loudspeaker3: "\e380";
$apteanico-mini-loudspeaker4: "\e381";
$apteanico-mini-loudspeaker-network: "\e382";
$apteanico-mini-loudspeaker-off: "\e383";
$apteanico-mini-magnet: "\e384";
$apteanico-mini-mailbox-empty: "\e385";
$apteanico-mini-mailbox-full: "\e386";
$apteanico-mini-medal: "\e387";
$apteanico-mini-medal2: "\e388";
$apteanico-mini-modem: "\e389";
$apteanico-mini-object-alignment-bottom: "\e38a";
$apteanico-mini-object-alignment-horizontal: "\e38b";
$apteanico-mini-object-alignment-left: "\e38c";
$apteanico-mini-object-alignment-right: "\e38d";
$apteanico-mini-object-alignment-top: "\e38e";
$apteanico-mini-object-alignment-vertical: "\e38f";
$apteanico-mini-presentation2: "\e390";
$apteanico-mini-presentation-chart: "\e391";
$apteanico-mini-presentation-empty: "\e392";
$apteanico-mini-signal-strength-0: "\e393";
$apteanico-mini-signal-strength-1: "\e394";
$apteanico-mini-signal-strength-2: "\e395";
$apteanico-mini-signal-strength-3: "\e396";
$apteanico-mini-signal-strength-4: "\e397";
$apteanico-mini-signal-strength-5: "\e398";
$apteanico-mini-sizes: "\e399";
$apteanico-mini-pin: "\e39a";
$apteanico-mini-pin2: "\e39b";
$apteanico-mini-information: "\e2ae";
$apteanico-mini-construction-barrier: "\e39c";
$apteanico-mini-barrier-closed: "\e39d";
$apteanico-mini-barrier-open: "\e39e";
$apteanico-mini-stopwatch2: "\e39f";
$apteanico-mini-text-1: "\e3a0";
$apteanico-mini-tv: "\e3a1";
$apteanico-mini-trophy: "\e3a2";
$apteanico-mini-undo: "\e3a3";
$apteanico-mini-vector-ellipse: "\e3a4";
$apteanico-mini-vector-square: "\e3a5";
$apteanico-mini-vector-triangle: "\e3a6";
$apteanico-mini-wheelbarrow: "\e3a7";
$apteanico-mini-wheel-loader: "\e3a8";
$apteanico-mini-tab-pane: "\e3a9";
$apteanico-mini-sign-stop: "\e3aa";
$apteanico-mini-sign-warning-radiation: "\e3ab";
$apteanico-mini-phone-hang-up: "\e3ac";
$apteanico-mini-phone-pick-up: "\e3ad";
$apteanico-mini-phone-receiver: "\e3ae";
$apteanico-mini-phone-receiver2: "\e3af";
$apteanico-mini-phone-speech-bubble: "\e3b0";
$apteanico-mini-photo-landscape: "\e3b1";
$apteanico-mini-photos: "\e3b2";
$apteanico-mini-package: "\e3b3";
$apteanico-mini-office-chair: "\e3b4";
$apteanico-mini-money-bills: "\e3b5";
$apteanico-mini-money-coins2: "\e3b6";
$apteanico-mini-money-coins: "\e3b7";
$apteanico-mini-invoice-dollar: "\e3b8";
$apteanico-mini-invoice-euro: "\e3b9";
$apteanico-mini-font: "\e3ba";
$apteanico-mini-equalizer: "\e3bb";
$apteanico-mini-directional-arrow-01: "\e3bc";
$apteanico-mini-cd-drive: "\e3bd";
$apteanico-mini-camera: "\e3be";
$apteanico-mini-back: "\e3bf";
$apteanico-mini-data: "\e3c0";
$apteanico-mini-data-cloud: "\e3c1";
$apteanico-mini-data-copy: "\e3c2";
$apteanico-mini-data-floppy-disk: "\e3c3";
$apteanico-mini-data-network: "\e3c4";
$apteanico-mini-data-scroll: "\e3c5";
$apteanico-mini-data-shared: "\e3c6";
$apteanico-mini-data-table: "\e3c7";
$apteanico-mini-delivery-note: "\e3c8";
$apteanico-mini-delivery-truck: "\e3c9";
$apteanico-mini-client-network: "\e3ca";
$apteanico-mini-clients: "\e3cb";
$apteanico-mini-bus2: "\e3cc";
$apteanico-mini-cut: "\e3cd";
$apteanico-mini-brush: "\e3cf";
$apteanico-mini-eyeglasses: "\e3ce";
$apteanico-mini-radio-unselected: "\e3d0";
$apteanico-mini-radio-selected: "\e3d1";
$apteanico-mini-checked-square: "\e3d2";
$apteanico-mini-unchecked-square: "\e3d3";
$apteanico-mini-dashboard-1: "\e3d4";
$apteanico-mini-heart-full: "\e3d5";
$apteanico-mini-next: "\e3d6";
$apteanico-mini-previous: "\e3d7";
$apteanico-mini-sort: "\e3d8";
$apteanico-mini-toggle-on: "\e3d9";
$apteanico-mini-toggle-off: "\e3da";
$apteanico-mini-location-unpin: "\e3db";
$apteanico-mini-flag-filled: "\e3dc";
$apteanico-mini-decrease-font: "\e3dd";
$apteanico-mini-increase-font: "\e3de";
$apteanico-mini-standby: "\e3df";
$apteanico-mini-text-background-color: "\e3e0";
$apteanico-mini-text-color: "\e3e1";
$apteanico-mini-print-options : "\e3e2";
$apteanico-mini-printer: "\e3e3";
