.abp-popup-list {
    background: $abp-white;
    box-shadow: $abp-box-shadow;
    border: 1px solid $abp-dark-grey;
    border-top: 0px;
    border-left: 0;
}

.abp-popup-list, .x-mask {
    .abp-loadmask.loading-bars {
        .bars {
            div[class^="rect"] {
                background-color: $abp-vivid-blue;
            }
        }
    }
}

.abp-popup-list-hierarchy,
.abp-popup-list-searched {
    transition: color $abp-transition-duration $abp-transition-type;
} 

.abp-popup-list-outer {
    border-left: 4px solid $abp-white;
    padding: 5px 10px;
    cursor: pointer;
    transition: border 200ms;
}

.abp-popup-list-searched {
    font-size: 1.2em;
}

.abp-popup-list-hierarchy {
    font-size: 1em;
    color: $abp-grey;
}

.abp-popup-list-outer.abp-popup-item-highlight, .abp-popup-list-outer.x-item-selected {
    border-left: 4px solid $abp-vivid-blue;
    background-color: $abp-background-grey;
    outline: none;

    .abp-popup-list-hierarchy,
    .abp-popup-list-searched {
        color: $abp-vivid-blue;
        font-weight: $abp-font-bold;
    }
    
}

@mixin abp-popuplist-theme() {
    @each $theme, $map in $abp-themes {
        $base-color: map-get($map, 'base_color');
        .#{$theme} {
            .abp-popup-list, .x-mask {
                .abp-loadmask.loading-bars{
                    .bars {
                        div[class^="rect"] {
                            background-color: $base-color;
                        }
                    }
                }
            }
            .abp-popup-list-outer.abp-popup-item-highlight, .abp-popup-list-outer.x-item-selected {
                border-left-color: $base-color;

                .abp-popup-list-hierarchy,
                .abp-popup-list-searched{
                    color: $base-color;
                }
            }
        }
    }
}
@include abp-popuplist-theme();
