/* BEGIN Light */
@font-face {
	font-family: 'Open Sans';
	@include fontdef-woff($FontPath: $abp-font-path, $FontName: $RobotoFontName, $FontVersion: $RobotoFontVersion, $FontType: "italic");
	font-weight: normal;
	font-style: italic;
}
/* END Light */
