$datepicker-month-button-arrow-glyph: $apteanico-mini-navigate-down 16px $font-icon-font-family;
$datepicker-next-glyph: $apteanico-mini-navigate-right2 16px $font-icon-font-family;
$datepicker-prev-glyph: $apteanico-mini-navigate-left2 16px $font-icon-font-family;
