$slider-track-background-color: $abp-light-grey;
$slider-track-border-radius: dynamic(null);
$slider-track-border-width: dynamic(null);
$slider-track-border-style: dynamic(null);
$slider-track-border-color: dynamic(null);
$slider-fill-background-color: $abp-highlight-blue;
$slider-disabled-fill-background-color: dynamic(null);
$slider-disabled-opacity: dynamic(null);