$toggleslider-width: dynamic(40px);
$toggleslider-track-height-big: dynamic(28px);
$toggleslider-track-height: dynamic(14px);
$toggleslider-track-height-big: dynamic(14px);
$toggleslider-track-border-radius: dynamic(8px);
$toggleslider-track-background-color: $abp-light-grey;
$toggleslider-fill-border-color: $abp-light-grey;
$toggleslider-fill-background-color: $abp-light-grey;